<div *ngIf="_OrderProccessService.allProductsInCart?.data?.cart.length === 0" class="fCC-bold-sD cCC-text-support2 text-center alert">العربه فارغه</div>
<div *ngIf="_OrderProccessService.allProductsInCart?.data?.cart.length > 0"  class="d-flex flex-column h-100">
    <div>
        <!-- Header -->
        <p class="fCC-bold-sD cCC-text-support2 text-center mb-3 m-0">إستلام الطلب من</p>
        <div class="d-flex">
            <!-- ResturantInfo And Image -->
            <div class="me-4">
                <img src="{{_OrderProccessService.allProductsInCart?.data?.market?.media[0].url}}" class="imCC-Resturant imCC-Background-Contain d-flex CC-resturant-img-holder">
            </div>
            <!-- divider -->
            <div class="mx-2"></div>
            <div>
                <p class="fCC-bold-sB cCC-text-orange m-0">{{_OrderProccessService.allProductsInCart?.data?.market?.name}}</p>
                <p class="fCC-reg-sA cCC-text-lightgray">"المشويات - أكل صحي"</p>
            </div>
        </div>
        <div class="cCC-bg-support1 py-4 position-relative w-100 px-4 mb-3">
            <app-icon iconName="iCC-Locationred iCC-sB imCC-Background-Contain d-flex ms-1"
                textContent="{{_OrderProccessService.allProductsInCart?.data?.market?.address}}" textClass="fCC-reg-sB cCC-text-support2"></app-icon>
            <!-- divider -->
            <div class="my-2"></div>
            <!-- <app-icon iconName="iCC-Clockred iCC-sB imCC-Background-Contain d-flex ms-1"
                textContent="سيكون جاهز في الساعة 3:54 م يوم 12/12/2021" textClass="fCC-reg-sB cCC-text-support2">
            </app-icon> -->
        </div>
        <div>
        </div>
        <section style="overflow-y: auto; height: 525px;">
            <!-- Cart Items Block -->
            <div *ngFor="let items of _OrderProccessService.allProductsInCart?.data?.cart ; let last=last">
                <app-cart-items-block [item]="items"></app-cart-items-block>
                <div class="CC-horizontal-divider mx-4 my-3"></div>
            </div>
            <div class="d-flex justify-content-between mx-4">
                <div class="d-flex flex-column uCC-gap-24">
                    <p class="m-0 fCC-reg-sD cCC-text-grey2">المجموع</p>
                    <p class="m-0 fCC-reg-sD cCC-text-grey2">ضريبة القيمة المضافة</p>
                </div>
                <div class="d-flex flex-column uCC-gap-24">
                    <p class="m-0 fCC-reg-sD cCC-text-grey2">{{_OrderProccessService.allProductsInCart?.data?.sub_total}} ر.س</p>
                    <p class="m-0 fCC-reg-sD cCC-text-grey2">{{_OrderProccessService.allProductsInCart?.data?.delivery_fee}}</p>
                </div>
            </div>
            <div class="CC-horizontal-divider m-4"></div>
            <div class="d-flex justify-content-between mx-4">
                <p class="m-0 fCC-bold-sB cCC-text-grey2">اجمالي الطلب</p>
                <p class="m-0 fCC-bold-sB cCC-text-main">{{_OrderProccessService.allProductsInCart?.data?.total}} ر.س</p>
            </div>
        </section>
    </div>
    <div class="mt-auto mx-4 position-fixed cCC-bg-white w-100" style="bottom:23px;">
        <button type="button" routerLink="check-out" (click)='closeCart()' style="width: 312px;"
            class="btn1 uCC-Click d-flex justify-content-center align-items-center form-control cCC-bg-main cCC-text-white uCC-f-radius-sA p-2 ms-4">
            <i class="iCC-Trickcircle iCC-sD d-flex ms-2"></i>
            <span class="fCC-bold-sB">تأكيد الطلب</span>
        </button>
        <button type="button" class="btn2 text-center form-control border-0 cCC-bg-white cCC-text-support2 p-2 ms-4" style="width: 312px;">
            <span class="fCC-bold-sB" (click)="deleteAllItems()" >أمسح جميع الأصناف</span>
        </button>
    </div>
</div>