.CC-resturant-img-holder{
    height: 48px;
    width: 48px;
}
.CC-menu-img-holder{
    height: 48px;
    width: 48px;
}
.CC-horizontal-divider{
  height: 2px;
  background-color: #EDEDF4;
}
::-webkit-scrollbar {
  width: 0;  /* Remove scrollbar space */
  background: transparent;  /* Optional: just make scrollbar invisible */
}
.btn1:hover{
  color: white !important;
}
.btn2:hover{
  color: #707070 !important;
}
.btn1:focus {
  color: #fff;
  background-color: #f5504c;
  border-color: #f5504c;
  outline: 0;
  box-shadow: none;
}
.btn2:focus {
  color: #707070;
  background-color: #fff;
  border-color: #fff;
  outline: 0;
  box-shadow: none;
}
.CC-Half-circle {
    width:24px;
    height: 24px;
    border-radius: 50%;
    top: 37px;
}
.CC-dashed-line {
    height:1px;
    background:repeating-linear-gradient(to right, rgba(54, 53, 55, 0.2) 0, rgba(54, 53, 55, 0.2) 10px, transparent 10px, transparent 16px)
}
::ng-deep .test {
  border: 1px solid #F5504C;
  background: rgba(245 , 80 ,76 , 0.2);
  color: black;
  border-radius: 20%;
  font-size: 20px !important;
  font-family: Cairo-Bold !important;
  direction: rtl;
}
::ng-deep .mat-simple-snackbar{
  font-size: 14px !important;
  font-family: Cairo-Bold !important;
}