<div class="row">
    <div class="col-6">
        <!-- Status Card -->
        <div class="uCC-f-radius-sB cCC-bg-white position-relative mb-4">
            <i class="iCC-FoodPrepared CC-Holder imCC-Background-Contain d-flex"></i>
            <p class="m-0 mt-4 pb-4 cCC-text-dark fCC-reg-sE text-center">في انتظار موافقة المطعم</p>
            <button aria-label="send"
                class="position-absolute uCC-Border-green cCC-bg-opacity-green-20 uCC-f-radius-sB py-1 px-4 cCC-text-darkGreen fCC-reg-sC"
                style="top: 16px; left: 16px;">
                <span>إرسال</span>
            </button>
        </div>
        <!-- Delivery Information Card -->
        <app-delivery-info-block></app-delivery-info-block>
    </div>
    <div class="col-6">
        <!-- Map -->
        <i class="imCC-Trackmap uCC-f-radius-sB CC-map-Holder imCC-Background-Contain d-flex"></i>
    </div>
</div>