.CC-Holder{
    // width: 148px;
    height: 148px;
}
button:hover{
    color: #31EA5C !important;
}
.CC-Deliveryimg-Holder{
    width: 48px;
    height: 48px;
}
.CC-map-Holder{
    // width: 536px;
    height: 370px;
}