<div class="container d-flex justify-content-center align-items-end mt-5">
    <div class="col-4 text-end">
        <i class="imCC-Contactlogo d-flex uCC-Background-Cover CC-Contactlogo-Holder"></i>
    </div>
    <div class="col-2"></div>
    <div class="col-6 text-center mb-5">
        <p class="fCC-bold-sF p-0">تواصل معنا عبر البريد الألكتروني
        </p>
        <p class="fCC-reg-sD cCC-text-grey uCC-line-Hight-B m-0 mb-5">
            لأستقبال أخر التحديثات لدي تطبيق طلباتكم
        </p>
        <div class="d-flex w-100 align-items-center uCC-f-radius-sB cCC-bg-support1">
            <!-- divider -->
            <div class="mx-2"></div>
            <!-- Message icon inside Email Input -->
            <app-icon iconName="iCC-message d-flex iCC-sD imCC-Background-Contain ms-2"></app-icon>
            <!--  Email Input -->
            <input type="email" placeholder=" البريد الألكتروني..." name="email"
                class="py-2 border-0 w-75 fCC-reg-sD cCC-bg-support1">
            <!-- Button Send -->
            <button class="btn px-5 py-3 cCC-bg-main cCC-text-white fCC-reg-sD uCC-f-radius-sB d-flex">
                <!-- Icon Send and text Inside Button -->
                <app-icon iconName="iCC-Send d-flex iCC-sD ms-2"></app-icon>
                <span>إرسال</span>
            </button>
        </div>
    </div>
</div>