<div class="uCC-Border-sA-Support1 d-flex flex-column align-items-center mt-5">
    <i class="imCC-Userimage CC-Userprofile-Holder uCC-Border-sA-Main uCC-f-radius-sA 
        uCC-Click CC-Userimgs-Poition imCC-Background-Contain">
    </i>
    <div class="cCC-bg-support1 uCC-Border-sB-Main uCC-f-radius-sC p-1 CC-Camera-Holder mb-5">
        <i class="iCC-Photocamera d-flex imCC-Background-Contain uCC-Click iCC-sB"></i>
    </div>
    <app-side-menu-navigators [listElements]="_UserProfileAsidePageService.userProfileNavigator"></app-side-menu-navigators>
</div>