.CC-Userprofile-Holder{
    height: 160px;
    width: 160px;
    position: relative;
}
.CC-Userimgs-Poition{
    margin: -55px 0 0 0;
}
.CC-Camera-Holder{
    margin: -20px 0 0 155px;
    z-index: 999999999999999999;
}