.CC-Userprofile-Holder{
    height: 108px;
    width: 108px;
    position: relative;
}
.CC-Userimgs-Poition{
    margin: -55px 0 0 0;
}
.CC-Camera-Holder{
    margin: -26px 0 0 86px;
    z-index: 9;
}