<!-- <div class="container pt-5 d-flex justify-content-center align-items-center">
    <div class="col-6">
        <app-icon iconName="imCC-QRcodemenu p-2 uCC-Background-Cover h-100 w-100 imCC-sA"
            textContent="مشاركة المنيو بكل سهولة عن طريق" iconParagraph="وريم إيبسوم(Lorem Ipsum) هو ببساطة 
            نص شكلي (بمعنى أن الغاية هي الشكل وليس المحتوى) ويُستخدم في صناعات المطابع ودور النشر. كان لوريم إيبسوم"
            textClass="fCC-reg-sD mx-2" paragraphClass="fCC-reg-sC mx-3">
        </app-icon>
    </div>
</div> -->