<section class="d-flex flex-column uCC-gap-24">
    <!-- Resturant Info Card -->
    <div class="d-flex justify-content-between align-items-center cCC-bg-white px-2 py-3" style="border-radius: 20px;">
        <div class="d-flex align-items-center">
            <i class="imCC-Newlogo-1 d-flex imCC-Background-Cover CC-resturants-Holder uCC-f-radius-sA ms-2"></i>
            <!-- Resturant Description -->
            <div>
                <!-- Resturant Name -->
                <p class="mb-0 cCC-text-dark fCC-bold-sB">مطعم ماكدونالدز</p>
                <!-- Resturant Categories -->
                <div class="d-flex uCC-gap-8 mt-1">
                    <button class="border-0 fCC-reg-sA cCC-text-dark py-1 px-3 cCC-bg-support1 uCC-f-radius-s5"
                        aria-label="type1">المشويات
                    </button>
                    <button class="border-0 fCC-reg-sA cCC-text-dark py-1 px-3 cCC-bg-support1 uCC-f-radius-s5"
                        aria-label="type2">الشرقي
                    </button>
                </div>
            </div>
        </div>
        <div>
            <p class="mb-0 cCC-text-main ms-5 fCC-bold-sB">تعديل الطلب</p>
        </div>
    </div>
    <div>
        <p class="m-0 fCC-bold-sD cCC-text-dark mb-4">عنوان التوصيل</p>
        <div class="d-flex justify-content-between align-items-center cCC-bg-white p-3" style="border-radius: 20px;">
            <div class="d-flex align-items-center">
                <i class="iCC-Redlocation iCC-sD d-flex imCC-Background-Cover ms-4"></i>
                <!-- Resturant Description -->
                <div>
                    <!-- Resturant Name -->
                    <p class="mb-0 cCC-text-dark fCC-bold-sB">مدينة نصر عباس العقاد</p>
                    <p class="mb-0 fCC-reg-sC cCC-text-opacity-dark-50"> 10 مصطفي النحاس عمارة الجوهرة</p>
                </div>
            </div>
            <div>
                <button class="border-0 cCC-bg-main uCC-f-radius-sA py-1 px-4 ms-2">
                  <app-icon iconName="iCC-Greylocation iCC-sD imCC-Background-Contain d-flex ms-2" textContent="تغيير العنوان"
                      textClass="fCC-bold-sB cCC-text-lightblue">
                    </app-icon>
                </button>
            </div>
        </div>
    </div>
</section>