<div class="d-flex justify-content-between cCC-bg-white uCC-f-radius-sB mx-md-0 mx-3">
    <div class="CC-resturant-holder-grid">
        <!-- Resturant Image -->
        <div class="CC-resturant-image"  data-bs-toggle="modal" data-bs-target="#exampleModal">
            <i class="{{blockMenu.image}} CC-resturantimg-Holder d-flex imCC-Background-Contain w-100~ h-100~ uCC-Click"></i>
        </div>
        <div class="CC-resturant-title"  data-bs-toggle="modal" data-bs-target="#exampleModal">
            <!-- Resturant-title -->
            <div >
                <p class="fCC-bold-sD cCC-text-dark m-0 uCC-Click">{{blockMenu.title}}</p>
            </div>
            <!-- Resturant Description -->
            <p class="fCC-reg-sC cCC-text-support2 m-0 uCC-Click col-lg-8 col-0">{{blockMenu.description}}</p>
            <div class="d-flex align-items-center uCC-gap-8 mt-2">
                <!-- Icon -->
                <i class="d-flex iCC-Calories iCC-sD"></i>
                <p class="m-0 cCC-text-dark fCC-reg-sC">30<span class="fCC-reg-sC cCC-text-support2 me-1">سعره حرارية</span></p>
            </div>
        </div>
        <!-- Icons -->
        <div class="CC-resturant-salary"  data-bs-toggle="modal" data-bs-target="#exampleModal">
            <!-- Icons -->
            <p class="cCC-text-main fCC-bold-sB m-0">{{blockMenu.price}}ر.س</p>
        </div>
        <!-- Heart Icon -->
        <div class="CC-resturant-likeAndPlus ">
            <div class="CC-resturant-like cCC-bg-support1 uCC-f-radius-sA p-2 uCC-Click">
                <i class="d-flex {{blockMenu.liked}} w-100 iCC-sD imCC-Background-Contain"></i>
            </div>
            <!-- QrCode Block -->
            <button [ngClass]="statusClass" class="CC-resturant-plus x border-0 cCC-bg-support1~ uCC-f-radius-sA p-2 uCC-Click" (click)="handleAddToCard(); setActiveClass()">
                <i class="d-flex w-100 iCC-Newplus iCC-sC imCC-Background-Contain"></i>
            </button>
        </div>
    </div>
</div>
<!-------------------- Modal ---------------------------->
<app-menu-list-modal></app-menu-list-modal>
