<div class="d-flex justify-content-between LT-horizontal-divider py-4 px-3 ">
    <div class="d-flex align-items-center">
        <!-- Resturant Image -->
        <div class="uCC-f-radius-sD uCC-Border-grey">
            <i class="{{blockMenu.image}} d-flex imCC-Background-Cover CC-resturantsimgs-Holder uCC-Click"></i>
        </div>
        <div class="me-4 mb-1">
            <!-- Resturant-title -->
            <a routerLink="resturantMainPage"><p class="fCC-bold-sD cCC-text-dark m-0 uCC-Click">{{blockMenu.title}}</p></a>
            <!-- Resturant Description -->
            <p class="fCC-reg-sC cCC-text-support2 mb-2 uCC-Click col-8">{{blockMenu.description}}</p>
            <!-- Icons -->
            <p class="cCC-text-main fCC-bold-sB">{{blockMenu.salary}}</p>
        </div>
    </div>
    <div class="d-flex flex-column justify-content-between align-items-center">
        <!-- Like Icon -->
        <div class="uCC-f-radius-sA py-2 px-3 cCC-opacity-support1-20 uCC-Click d-flex">
            <p class="fCC-reg-sD cCC-text-dark m-0">4587</p>
            <div class="mx-1"></div>
            <i class="d-flex iCC-Heartred iCC-sD imCC-Background-Contain"></i>
        </div>
        <!-- Plus Icon -->
        <div class="p-1 uCC-Click pe-5">
            <i class="d-flex iCC-Plus iCC-sE imCC-Background-Contain"></i>
        </div>
   
    </div>
</div>