.CC-resturantsimgs-Holder{
    height: 112px;
    width: 112px;
}
.LT-horizontal-divider{
    border-bottom: 1px solid #EDEDF4;
}
.CC-Foodimg-Holder{
    height: 256px;
}
.LT-horizontal-divider{
    border-bottom: 1px solid rgba(112,112,112,0.25);
}
input {
    accent-color: #F5504C;
}