<div class="d-flex uCC-gap-24">
  <!-- userPicture and userName -->
  <div class="d-flex align-items-center" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
    <!-- user name -->
    <span class="fCC-reg-sD cCC-text-dark">{{userName}}</span>
    <!-- divider -->
    <div class="px-2"></div>
    <!-- user picture -->
    <i class="imCC-Userimage CC-Userprofile-Holder uCC-Border-sA-Main uCC-f-radius-sA uCC-Click"></i>
  </div>
  <!-- Dropdown Menu List -->
  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1" style="border-color: #E99167;">
    <li><a class="dropdown-item uCC-Click fCC-bold-sA cCC-text-darkgray" routerLink="userProfile">الملف الشخصي</a></li>
    <li><a class="dropdown-item uCC-Click fCC-bold-sA cCC-text-darkgray" (click)="_AccountService.logout()">تسجيل الخروج</a></li>
  </ul>
</div>