<div class="d-flex justify-content-between mt-4">
    <section>
        <!-- Location and Information About Resturant -->
        <app-resturant-info-section></app-resturant-info-section>
    </section>
    <section class="d-flex align-items-start">
        <!-- Heart Icon -->
        <div class="d-flex flex-column align-items-center">
            <div class="cCC-opacity-support1-100 uCC-f-radius-sA p-2 uCC-Click">
                <i class="d-flex iCC-Newlike iCC-sD imCC-Background-Contain"></i>
            </div>
            <div class="my-3"></div>
            <!-- Phone call Icon [ToolTip] -->
            <button aria-label="call" mat-raised-button matTooltip="095554545" matTooltipPosition="after"
                class="btn cCC-opacity-support1-100 uCC-f-radius-sA p-2 uCC-Click">
                <i class="d-flex iCC-Phone-green iCC-sC imCC-Background-Contain"></i>
            </button>
        </div>
        <!-- divider -->
        <div class="mx-2"></div>
        <!-- Qr Code Block -->
        <app-qrcode-block></app-qrcode-block>
    </section>
</div>
<!-- resturant Profile Page [SECTIONS]  -->
<section>
    <router-outlet></router-outlet>
</section>