<!-- Resturants Available In Your Zone -->
<div class="cCC-opacity-support1-50" *ngIf='this.activeRouter.url == "/resturants"'>
  <div class="container col-8 p-0">
    <app-page-title-block title="المطاعم المتاحة بمنطقة الرياض" iconTitle="iCC-Home"></app-page-title-block>
  </div>
</div>
<!-- Personal Information -->
<div class="container-fluid p-0 cCC-opacity-support1-20">
  <div class=" container p-0 col-8" *ngIf='this.activeRouter.url == "/userProfile"'>
    <app-page-title-block title="المعلومات الشخصية" iconTitle="iCC-Usertag"></app-page-title-block>
  </div>
</div>
<!-- Recover Phone number -->
<div class="container-fluid p-0 cCC-opacity-support1-20">
  <div class="container p-0 col-8" *ngIf='this.activeRouter.url == "/userProfile/recover-phone"'>
    <app-page-title-block title="اعاده توثيق الجوال" iconTitle="iCC-Usertag"></app-page-title-block>
  </div>
</div>
<!-- Recover Phone number -->
<div class="container-fluid p-0 cCC-opacity-support1-20">
  <div class=" container p-0 col-8 cCC-opacity-support1-20"
    *ngIf='this.activeRouter.url == "/userProfile/change-password"'>
    <app-page-title-block title="تغيير كلمة المرور" iconTitle="iCC-Usertag"></app-page-title-block>
  </div>
</div>
<!-- User Reservation -->
<div class="container-fluid p-0 cCC-opacity-support1-20">
  <div class=" container p-0 col-8 cCC-opacity-support1-20" *ngIf='activeRouter.url.includes("/userProfile/reservation")'>
    <app-page-title-block title="الحجوزات" iconTitle="iCC-Usertag"></app-page-title-block>
  </div>
</div>
<!-- Privacy Policy -->
<div class="container-fluid p-0 cCC-opacity-support1-20">
  <div class=" container p-0 col-8 cCC-opacity-support1-20"
    *ngIf='this.activeRouter.url == "/userProfile/privacy-policy"'>
    <app-page-title-block title="الشروط والأحكام" iconTitle="iCC-Usertag"></app-page-title-block>
  </div>
</div>
<!-- Cover Section -->
<div *ngIf='this.activeRouter.url !== "/resturants" && this.activeRouter.url !== "/" && !activeRouter.url.includes("/userProfile")'>
  <app-cover-header-block></app-cover-header-block>
</div>