<!-- Resturants Available In Your Zone -->
<div class="fCC-reg-sF cCC-text-support2 d-lg-block d-none position-relative"
  *ngIf='activeRouter.url.includes("/resturants") || this.activeRouter.url == "/track-order"'>
  <!-- Header Resturant Image -->
  <!-- <app-cover-header-block headerImage="imCC-Resturantsheader" headerHeight="CC-coverresturants-size"></app-cover-header-block> -->
  <div
    class="container-fluid p-0 imCC-Background-Cover imCC-Resturantsheader CC-coverresturants-size d-flex align-items-center justify-content-center">
  </div>
  <!-- Header Location Text and ICON -->
  <div *ngIf='activeRouter.url.includes("/resturants")'>
    <app-resturants-header-block headerTitle='المطاعم المتاحة بمنطقة الرياض' headerIcon='iCC-Home '></app-resturants-header-block>
  </div>
  <div *ngIf='this.activeRouter.url == "/track-order"'>
    <app-resturants-header-block headerTitle='توصيل دليفيري' headerIcon='iCC-Fromdelivery'></app-resturants-header-block>
  </div>
</div>
<!-- Personal Information -->
<!-- <div class="container-fluid p-0 cCC-opacity-support1-20">
  <div class="fCC-reg-sF cCC-text-support2 container p-0 col-8" *ngIf='this.activeRouter.url == "/userProfile"'>
    <app-page-title-block title="المعلومات الشخصية" iconTitle="iCC-Usertag"></app-page-title-block>
  </div>
</div> -->
<!-- Recover Phone number -->
<!-- <div class="container-fluid p-0 cCC-opacity-support1-20">
  <div class="fCC-reg-sF cCC-text-support2 container p-0 col-8"
    *ngIf='this.activeRouter.url == "/userProfile/recover-phone"'>
    <app-page-title-block title="اعاده توثيق الجوال" iconTitle="iCC-Usertag"></app-page-title-block>
  </div>
</div> -->
<!-- Recover Phone number -->
<!-- <div class="container-fluid p-0 cCC-opacity-support1-20">
  <div class="fCC-reg-sF cCC-text-support2 container p-0 col-8 cCC-opacity-support1-20"
    *ngIf='this.activeRouter.url == "/userProfile/change-password"'>
    <app-page-title-block title="تغيير كلمة المرور" iconTitle="iCC-Usertag"></app-page-title-block>
  </div>
</div> -->
<!-- User Reservation -->
<!-- <div class="container-fluid p-0 cCC-opacity-support1-20">
  <div class="fCC-reg-sF cCC-text-support2 container p-0 col-8 cCC-opacity-support1-20"
    *ngIf='activeRouter.url.includes("/userProfile/reservation")'>
    <app-page-title-block title="الحجوزات" iconTitle="iCC-Usertag"></app-page-title-block>
  </div>
</div> -->
<!-- Privacy Policy -->
<!-- <div class="container-fluid p-0 cCC-opacity-support1-20">
  <div class="fCC-reg-sF cCC-text-support2 container p-0 col-8 cCC-opacity-support1-20"
    *ngIf='this.activeRouter.url == "/userProfile/privacy-policy"'>
    <app-page-title-block title="الشروط والأحكام" iconTitle="iCC-Usertag"></app-page-title-block>
  </div>
</div> -->
<!-- Cover Section -->
<div
  *ngIf='!activeRouter.url.includes("/resturants") && this.activeRouter.url !== "/contact-us" && this.activeRouter.url !== "/track-order" && this.activeRouter.url !== "/check-out" && this.activeRouter.url !== "/" && !activeRouter.url.includes("/userProfile")'>
  <app-cover-header-block [headerImage]='_ResturantCardService?.singleResturantInfo' headerHeight="CC-coverresturantprofile-size">
  </app-cover-header-block>
</div>