<!-- Resturant Cards Header -->
<div class="text-center mb-4 pt-5">
    <p class="fCC-bold-sF cCC-text-dark m-0 pb-2">طلبك ديماً منتظرك .. مع تطبيق طلباتكم</p>
    <p class="m-0 fCC-reg-sD cCC-text-grey">نص شكلي (بمعنى أن الغاية هي الشكل وليس المحتوى) ويُستخدم في </p>
    <p class="m-0 fCC-reg-sD cCC-text-grey">صناعات المطابع ودور النشر. كان </p>
</div>
<!-- Resturant Cards -->
<div class="d-flex justify-content-center">
    <!-- Resturant 1 -->
    <app-card-block resturantImage="imCC-Resturant1" resturantLogo="imCC-Resturantlogo1" resturantName="مطعم بافلو برجر"
        resturantDesc='"المشويات - أكل سريع"'></app-card-block>
    <!-- divider -->
    <div class="mx-2"></div>
    <!-- Resturant 2 -->
    <app-card-block resturantImage="imCC-Resturant2" resturantLogo="imCC-Resturantlogo2" resturantName="مطعم طاية"
        resturantDesc='"المشويات - أكل صحي"'></app-card-block>
    <!-- divider -->
    <div class="mx-2"></div>
    <!-- Resturant 3 -->
    <app-card-block resturantImage="imCC-Resturant3" resturantLogo="imCC-Resturantlogo3"
        resturantName="مطعم السمك الذهبي" resturantDesc='"المشويات - أسماك"'></app-card-block>
</div>