  <section class="container pt-5">
    <!-- search bar section Holder -->
    <div class="d-flex flex-column justify-content-center pt-5">
      <!-- main text -->
      <div class="pb-3">
        <p class="fCC-bold-sF col-5">
          دلوقتي تحضر تحجز مكانك
          وتطلب كمان اللي نفسك فيه
          قبل ما توصل معا
          <span class="cCC-text-main">طلباتكم</span>
        </p>
      </div>
      <!-- Search Bar block -->
      <div class="pb-3">
        <app-search-block></app-search-block>
      </div>
      <!-- small text -->
      <div class="pb-5">
        <p class="text-center fCC-bold-sC mt-3">طلبك ديماً منتظرك .. مع تطبيق
          <span class="cCC-text-main">طلباتكم</span>
        </p>
      </div>
    </div>
  </section>