<!-- search bar section Holder -->
<div class="container">
  <div class="col-1"></div>
  <!-- main text -->
  <p class="fCC-bold-sF col-5 mb-0">
    دلوقتي تحضر تحجز مكانك
    وتطلب كمان اللي نفسك فيه
    قبل ما توصل معا
    <span class="cCC-text-main">طلباتكم</span>
  </p>
  <!-- Search Bar block -->
  <section class="my-3">
    <app-search-block></app-search-block>
  </section>
  <!-- small text -->
  <p class="text-center fCC-bold-sC m-0">طلبك ديماً منتظرك .. مع تطبيق
    <span class="cCC-text-main">طلباتكم</span>
  </p>
  <div class="col-1"></div>
</div>
