<div class="d-flex align-items-center justify-content-center" style=" height: 100vh;">
    <div class="container px-0 d-flex">
        <!-- Login Video -->
        <video class="uCC-l-radius-sG" width="536px" height="641px" autoplay loop>
            <source src="../../../../assets/videos/Loginvideo.mp4" type="video/mp4">
        </video>
        <!-- Login [Holder] -->
        <div class="cCC-bg-white uCC-l-radius-sH position-relative d-flex flex-column align-items-center justify-content-center gap-4 px-4"
            style="width: 536px; height: 641px;">
            <!-- Logo -->
            <div class="mb-3">
                <p class="m-0 fCC-reg-sG cCC-text-dark me-5">اهلا بك</p>
                <app-sticker-block></app-sticker-block>
            </div>
            <!-- Login -->
            <div class="d-flex mb-3">
                <p class="fCC-reg-sG  cCC-text-opacity-dark-50 cCC-text-dark m-0 uCC-Click">تسجيل الدخول</p>
                <div class="mx-4"></div>
                <!-- Create New Account -->
                <p class="fCC-reg-sG cCC-text-opacity-dark-50~ cCC-text-dark m-0 uCC-Click">حساب جديد</p>
            </div>
            <div class="w-75~">
                <!-- <app-login-section></app-login-section> -->
                <app-create-account-section></app-create-account-section>
            </div>
            <!-- Close Button -->
            <div class="position-absolute top-0 start-0 ms-4 mt-4 uCC-Click">
                <app-icon [iconName]='"iCC-Closebutton imCC-Background-Contain iCC-sB"'></app-icon>
            </div>
        </div>
    </div>
</div>