video {
    object-fit: cover !important;
}
.CC-login-Holder{
    width: 536px;
    height: 641px;
}
.CC-login-Hover:hover{
  color: #363537 !important;
}
.CC-underline::after {
  display: block;
    content: '';
   width: 34px;
   height: 2px;
   background: #F5504C;
   position: absolute;
   bottom: -8px;
   right: 36%;
}
 .CC-underline {
 position: relative;  
}
.CC-Blur-Layer{
  // background-color: #fff;
  backdrop-filter: blur(17px) brightness(0.45) opacity(0.2);
}