<div class="d-flex flex-column align-items-center justify-content-start mt-5">
    <!-- Phone Number -->
    <div class="col-5 my-5">
        <div class="d-flex w-100 p-1 align-items-center uCC-f-radius-sA uCC-Border-sB-Main cCC-bg-white">
            <!-- PhoneNumber icon-->
            <app-icon iconName="iCC-Mobilelogin d-flex iCC-sB me-2 ms-1"></app-icon>
            <!-- Phone Number -->
            <input type="text" placeholder="رقم الجوال" class="py-2 border-0 w-100 fCC-reg-sC cCC-text-support2 m-0">
        </div>
    </div>
    <!-- Submit Button -->
    <div class="col-5">
        <app-button-block buttonName="تأكيد"></app-button-block>
    </div>
</div>