<div class="container col-6 uCC-f-radius-sB uCC-Border-white uCC-shadow-f-white-10 py-5">
    <!-- Password -->
    <label for="phone" class="cCC-text-support2 fCC-reg-sB mb-2">كلمة المرور الحالية</label>
    <div
        class="mb-4 d-flex justify-content-between px-3 align-items-center uCC-f-radius-sA cCC-bg-white">
        <div class="d-flex align-items-center w-100">
            <!-- Password icon -->
            <app-icon iconName="iCC-Lockpassword d-flex align-items-center iCC-sB ms-2"></app-icon>
            <!-- Password Input-->
            <input [type]="this._AuthService.showPassword ? 'text' : 'password'" placeholder="كلمة المرور"
                name='password' ngModel class="w-100 py-3 border-0 fCC-reg-sB cCC-text-support2 m-0">
        </div>
        <div>
            <!-- See Password Icon -->
            <app-icon iconName="{{this._AuthService.passwordIcon}} imCC-Background-Contain d-flex iCC-sB ms-2 uCC-Click"
                (click)="this._AuthService.hidePassword()" [class.hide]="this._AuthService.showPassword"></app-icon>
        </div>
    </div>
    <div>
        <!-- Password -->
        <label for="phone" class="cCC-text-support2 fCC-reg-sB mb-2">كلمة المرور الجديدة</label>
        <div
            class="mb-4 d-flex justify-content-between px-3 align-items-center uCC-f-radius-sA cCC-bg-white">
            <div class="d-flex align-items-center w-100">
                <!-- Password icon -->
                <app-icon iconName="iCC-Lockpassword d-flex align-items-center iCC-sB ms-2"></app-icon>
                <!-- Password Input-->
                <input [type]="this._AuthService.showPassword ? 'text' : 'password'" placeholder="كلمة المرور"
                    name='password' ngModel class="w-100 py-3 border-0 fCC-reg-sB cCC-text-support2 m-0">
            </div>
            <div>
                <!-- See Password Icon -->
                <app-icon
                    iconName="{{this._AuthService.passwordIcon}} imCC-Background-Contain d-flex iCC-sB ms-2 uCC-Click"
                    (click)="this._AuthService.hidePassword()" [class.hide]="this._AuthService.showPassword"></app-icon>
            </div>
        </div>
    </div>
    <div>
        <!-- Password -->
        <label for="phone" class="cCC-text-support2 fCC-reg-sB mb-2">تأكيد كلمة المرور الجديدة</label>
        <div
            class="mb-5 d-flex justify-content-between px-3 align-items-center uCC-f-radius-sA cCC-bg-white">
            <div class="d-flex align-items-center w-100">
                <!-- Password icon -->
                <app-icon iconName="iCC-Lockpassword d-flex align-items-center iCC-sB ms-2"></app-icon>
                <!-- Password Input-->
                <input [type]="this._AuthService.showPassword ? 'text' : 'password'" placeholder="كلمة المرور"
                    name='password' ngModel class="w-100 py-3 border-0 fCC-reg-sB cCC-text-support2 m-0">
            </div>
            <div>
                <!-- See Password Icon -->
                <app-icon
                    iconName="{{this._AuthService.passwordIcon}} imCC-Background-Contain d-flex iCC-sB ms-2 uCC-Click"
                    (click)="this._AuthService.hidePassword()" [class.hide]="this._AuthService.showPassword"></app-icon>
            </div>
        </div>
        <!-- Update Button-->
        <button class="btn w-100 py-2 cCC-bg-main cCC-text-white fCC-reg-sD uCC-f-radius-sA">تحديث</button>
    </div>
</div>