.LT-horizontal-divider{
    height: 2px;
    width: 90%;
    background-color: #EDEDF4;
}
.CC-scroll {
    height: 50vh;
    overflow-y: auto; 
    -ms-overflow-style: none; 
    scrollbar-width: none;
    overflow-y: scroll;   
}
.CC-scroll::-webkit-scrollbar {
    display: none;
}