.CC-Foodimg-Holder{
    height: 256px;
}
.LT-horizontal-divider{
  width: 100%;
  height: 1px;
  background-color: rgba(112,112,112,0.25);
}
input {
    accent-color: #F5504C;
}
.modal{
    overflow: hidden;
}
.modal-dialog{
    margin: 1em auto;
}