<!--Reservation Filter Section -->
<section class="d-flex me-5 mt-4 mb-5">
    <p class="fCC-bold-sB cCC-text-dark shadow px-3 py-1 uCC-f-radius-sA m-0">الجميع</p>
    <!-- divider -->
    <div class="mx-3"></div>
    <p class="fCC-reg-sD cCC-text-dark px-3 py-1 uCC-f-radius-sA~ m-0">الحالية</p>
    <!-- divider -->
    <div class="mx-3"></div>
    <p class="fCC-reg-sD cCC-text-dark px-3 py-1 uCC-f-radius-sA~ m-0">الكاملة</p>
    <!-- divider -->
    <div class="mx-3"></div>
    <p class="fCC-reg-sD cCC-text-dark px-3 py-1 uCC-f-radius-sA~ m-0">الملغية</p>
</section>
<!-- Last Reservations section -->
<section>
    <app-reservations-list-block [reservationList]=' _ReservationsListService.reservationsList'></app-reservations-list-block>
</section>