<div class="d-flex justify-content-between align-items-center cCC-bg-white uCC-f-radius-sA px-3 py-2 mb-3">
    <!-- By Visa -->
    <app-icon iconName="iCC-Pay1 iCC-sD imCC-Background-Contain d-flex ms-3" textContent="بطاقة فيزا"
        textClass="fCC-reg-sD cCC-text-dark">
    </app-icon>
    <!-- CheckBox -->
    <input type="checkbox" name="way1" value="way1" class="uCC-Click">
</div>
<div class="d-flex justify-content-between align-items-center cCC-bg-white uCC-f-radius-sA px-3 py-2 mb-3">
    <!-- By Mastercard -->
    <app-icon iconName="iCC-Payvisa iCC-sD imCC-Background-Contain d-flex ms-3" textContent="بطاقة ماستر كارد"
        textClass="fCC-reg-sD cCC-text-dark">
    </app-icon>
    <!-- CheckBox -->
    <input type="checkbox" name="way2" value="way2" class="uCC-Click">
</div>
<div class="d-flex justify-content-between align-items-center cCC-bg-white uCC-f-radius-sA px-3 py-2 mb-3">
    <!-- By Cash -->
    <app-icon iconName="iCC-Paycash iCC-sD imCC-Background-Contain d-flex ms-3" textContent="كاش"
        textClass="fCC-reg-sD cCC-text-dark">
    </app-icon>
    <!-- CheckBox -->
    <input type="checkbox" name="way3" value="way3" class="uCC-Click">
</div>