<!-- FIRST FILTER -->
<!-- TODO Exchange Rounded Class -->
<div class="rounded uCC-Border-grey CC-aside-holder h-100 px-2 py-4">
    <!-- Type Of Resturant Section ( 1 ) -->
    <div>
      <!-- FILTERS HEADER & ICON -->
      <div class="cCC-bg-main cCC-text-white uCC-f-radius-sA py-2">
        <app-icon [textContent]='"نوع المطبخ"' textClass="fCC-bold-sA"
          [iconName]='"iCC-Heat iCC-sD imCC-Background-Contain mx-3"'></app-icon>
      </div>
      <!-- FILTERS NAME-->
      <div *ngFor='let filter of _FilterService.options' class="p-2 LT-horizontal-divider">
        <app-filter-selection-block [items]='filter'></app-filter-selection-block>
      </div>
    </div>
    <!-- Spacific Search Section ( 2 ) -->
    <div>
      <div class="cCC-bg-main cCC-text-white uCC-f-radius-sA py-2">
        <app-icon [textContent]='"حدد البحث"' textClass="fCC-bold-sA"
          [iconName]='"iCC-Filter iCC-sD imCC-Background-Contain mx-3"'></app-icon>
      </div>
      <!-- FILTERS NAME-->
      <div *ngFor='let filter of _FilterService.optionsTwo' class="p-2 LT-horizontal-divider">
        <app-filter-selection-block [items]='filter'></app-filter-selection-block>
      </div>
    </div>
</div>
