<form #registerForm='ngForm' (ngSubmit)="ngSubmit(registerForm.value)">
    <!-- UserName Number -->
    <label for="name" class="cCC-text-support2 fCC-reg-sB mb-2">{{'الإسم' | translate}}</label>
    <div [ngClass]="{'has-danger': name.invalid &&(name.dirty),
    'has-success':name.valid && (name.dirty) }"
        class="mb-2 d-flex uCC-shadow-f-white-10 form-input px-3 align-items-center uCC-f-radius-sA cCC-bg-white">
        <!-- UserName icon -->
        <app-icon iconName="iCC-UserName d-flex iCC-sB {{'ms-2' | translate}}"></app-icon>
        <!-- UserName Input-->
        <input #name="ngModel" type="text" placeholder="{{'الإسم' | translate}}" name='name' ngModel required minlength="3"
            maxlength="15" class="form-control w-100 border-0 fCC-reg-sB cCC-text-support2 m-0 py-3 p-0">
    </div>
    <!-- Errors Div -->
    <div *ngIf="name.errors && (name.dirty)" class="{{'me-2' | translate}}">
        <p *ngIf="name.errors?.required" class="CC-alert fCC-bold-sA">{{'يجب إدخال الأسم' | translate}}</p>
        <p *ngIf="name.errors?.minlength" class="CC-alert fCC-bold-sA">{{'الأسم غير صحيح' | translate}}</p>
    </div>

    <!-- Password -->
    <label for="password" class="cCC-text-support2 fCC-reg-sB mb-2">{{'كلمة المرور' | translate}}</label>
    <div [ngClass]="{'has-danger': password.invalid &&(password.dirty),
    'has-success':password.valid && (password.dirty) }"
        class="mb-2 d-flex justify-content-between uCC-shadow-f-white-10 form-input px-3 align-items-center uCC-f-radius-sA cCC-bg-white">
        <div class="d-flex w-100 align-items-center">
            <!-- Password icon -->
            <app-icon iconName="iCC-Lockpassword d-flex iCC-sB {{'ms-2' | translate}}"></app-icon>
            <!-- Password Input-->
            <input required minlength="6" maxlength="8" #password="ngModel" [(ngModel)]="model.password"
                [type]="this._AuthService.showPassword ? 'text' : 'password'" placeholder="{{'كلمة المرور' | translate}}" name='password'
                ngModel class="form-control w-100 border-0 fCC-reg-sB cCC-text-support2 py-3 m-0 p-0">
        </div>
        <div>
            <!-- See Password Icon -->
            <app-icon iconName="{{this._AuthService.passwordIcon}} imCC-Background-Contain d-flex iCC-sB {{'ms-2' | translate}} uCC-Click"
                (click)="this._AuthService.hidePassword()" [class.hide]="this._AuthService.showPassword"></app-icon>
        </div>
    </div>
    <!-- Errors Div -->
    <div *ngIf="password.errors && (password.dirty)" class="{{'me-2' | translate}}">
        <p *ngIf="password.errors?.required" class="CC-alert fCC-bold-sA">{{'يجب إدخال كلمة المرور' | translate}}</p>
        <p *ngIf="password.errors?.minlength" class="CC-alert fCC-bold-sA">{{'كلمة المرور غير صحيحه' | translate}}</p>
    </div>
    <!-- Confirm Password Process -->
    <label for="name" class="cCC-text-support2 fCC-reg-sB mb-2">{{'تأكيد كلمة المرور' | translate}}</label>
    <div [ngClass]="{'has-danger': model.password != model.confirmPassword,
    'has-success':model.password == model.confirmPassword }"
        class="mb-2 d-flex justify-content-between uCC-shadow-f-white-10 form-input px-3 align-items-center uCC-f-radius-sA cCC-bg-white">
        <div class="d-flex w-100 align-items-center">
            <!--Confirm Password icon -->
            <app-icon iconName=" iCC-Lockpassword imCC-Background-Contain d-flex iCC-sB {{'ms-2' | translate}}"></app-icon>
            <!--Confirm Password Input-->
            <input  [type]="this._AuthService.showConfirmPassword ? 'text' : 'password'" required #confirmPassword="ngModel"
                placeholder="{{'تأكيد كلمة المرور' | translate}} " id="confirmNewPassword" [(ngModel)]="model.confirmPassword" name="confirmPassword"
                class="w-100 border-0 fCC-reg-sB cCC-text-support2 m-0 py-3">
        </div>
        <div>
            <!--Confirm See Password Icon -->
            <app-icon
                iconName="{{this._AuthService.confirmPasswordIcon}} imCC-Background-Contain d-flex iCC-sB {{'ms-2' | translate}} uCC-Click"
                (click)="this._AuthService.hideConfirmPassword()" [class.hide]="this._AuthService.showConfirmPassword">
            </app-icon>
        </div>
    </div>
    <div class="{{'me-2' | translate}}">
        <p class="CC-alert fCC-bold-sA" *ngIf="model.password != model.confirmPassword">{{'كلمة المرور غير متطابقه' | translate}}</p>
    </div>
    <!-- Privacy Policy -->
    <div class="mb-3">
        <p class="m-0 fCC-reg-sC cCC-text-support2 col-8">
            {{'من خلال إنشاء حساب أنت توافق علي سياسة الخصوصية' | translate}}
            <span class="cCC-text-main uCC-Click CC-hover"  routerLink="/privacy-policy">{{'وشروط الإستخدام.' | translate}}</span>
        </p>
    </div>
    <!-- Login Button -->
    <button [disabled]="registerForm.invalid || model.password != model.confirmPassword" type="submit"
        class="CC-Btn text-center form-control border-0 cCC-bg-main uCC-f-radius-sA cCC-text-white p-2 {{'ms-4' | translate}} mt-2">
        <span class="fCC-bold-sB">{{'تسجيل الدخول' | translate}}</span>
    </button>
</form>