<form>
    <!-- Mobile Number -->
    <div class="mb-4 d-flex shadow py-2 px-3 align-items-center uCC-f-radius-sA cCC-bg-white">
        <!-- Mobile icon -->
        <app-icon iconName="iCC-UserName d-flex iCC-sB ms-2"></app-icon>
        <!-- Mobile Input-->
        <input type="text" placeholder="الإسم" class="border-0 fCC-reg-sB cCC-text-support2 m-0">
    </div>

    <!-- Password -->
    <div class="mb-4 d-flex justify-content-between shadow py-2 px-3 align-items-center uCC-f-radius-sA cCC-bg-white">
        <div class="d-flex">
            <!-- Password icon -->
            <app-icon iconName="iCC-Lockpassword d-flex iCC-sB ms-2"></app-icon>
            <!-- Password Input-->
            <input type="password" placeholder="كلمة المرور" class="border-0 fCC-reg-sB cCC-text-support2 m-0">
        </div>
        <div>
            <!-- See Password Icon -->
            <app-icon iconName="iCC-Seepassword d-flex iCC-sB ms-2 uCC-Click"></app-icon>
        </div>
    </div>
    <div class="mb-4 d-flex justify-content-between shadow py-2 px-3 align-items-center uCC-f-radius-sA cCC-bg-white">
        <div class="d-flex">
            <!-- Password icon -->
            <app-icon iconName="iCC-Lockpassword d-flex iCC-sB ms-2"></app-icon>
            <!-- Password Input-->
            <input type="password" placeholder="تأكيد كلمة المرور " class="border-0 fCC-reg-sB cCC-text-support2 m-0">
        </div>
        <div>
            <!-- See Password Icon -->
            <app-icon iconName="iCC-Seepassword d-flex iCC-sB ms-2 uCC-Click"></app-icon>
        </div>
    </div>
    <div class="mb-5">
        <p class="m-0 fCC-reg-sC cCC-text-support2 uCC-line-Hight-B col-8">
            من خلال إنشاء حساب أنت توافق علي سياسة الخصوصية  
            <span class="cCC-text-main">وشروط الإستخدام.</span>
        </p>
    </div>
    <div>
        <app-button-block buttonName="تسجيل الدخول"></app-button-block>
    </div>
</form>
