<!-- List Header -->
<div class="p-0 m-0 CC-navigator-grid">
    <div>
        <p class="fCC-bold-sC cCC-text-dark m-0 pb-3">تصفح طلباتكم</p>
        <p class="fCC-reg-sD cCC-opacity-dark-70 uCC-Click">شروط الاستخدام</p>
        <p class="fCC-reg-sD cCC-opacity-dark-70 uCC-Click">من نحن</p>
        <p class="fCC-reg-sD cCC-opacity-dark-70 uCC-Click">أسئلة شائعة</p>
    </div>
    <div>
        <p class="fCC-bold-sC cCC-text-dark m-0 pb-3">الشركاء</p>
        <p class="fCC-reg-sD cCC-opacity-dark-70 uCC-Click">تسجيل متجر</p>
        <p class="fCC-reg-sD cCC-opacity-dark-70 uCC-Click">دخول لوحة تحكم</p>
        <p class="fCC-reg-sD cCC-opacity-dark-70 uCC-Click">شروط التعاقد</p>
    </div>
    <div>
        <p class="fCC-bold-sC cCC-text-dark m-0 pb-3">المساعدة</p>
        <p class="fCC-reg-sD cCC-opacity-dark-70 uCC-Click">تسجيل دخول</p>
        <p class="fCC-reg-sD cCC-opacity-dark-70 uCC-Click">تسجيل جديد</p>
        <p class="fCC-reg-sD cCC-opacity-dark-70 uCC-Click">اتصل بنا</p>
    </div>
</div>