<!-- List Header -->
<div class="p-0 m-0 CC-navigator-grid">
    <div>
        <p class="fCC-bold-sC cCC-text-dark m-0 pb-3">{{'تصفح طلباتكم' | translate}}</p>
        <p class="fCC-reg-sD cCC-opacity-dark-70 uCC-Click">{{'شروط الاستخدام' | translate}}</p>
        <p class="fCC-reg-sD cCC-opacity-dark-70 uCC-Click">{{'من نحن' | translate}}</p>
        <p class="fCC-reg-sD cCC-opacity-dark-70 uCC-Click">{{'أسئلة شائعة' | translate}}</p>
    </div>
    <div>
        <p class="fCC-bold-sC cCC-text-dark m-0 pb-3">{{'الشركاء' | translate}}</p>
        <p class="fCC-reg-sD cCC-opacity-dark-70 uCC-Click">{{'تسجيل متجر' | translate}}</p>
        <p class="fCC-reg-sD cCC-opacity-dark-70 uCC-Click">{{'دخول لوحة تحكم' | translate}}</p>
        <p class="fCC-reg-sD cCC-opacity-dark-70 uCC-Click">{{'شروط التعاقد' | translate}}</p>
    </div>
    <div>
        <p class="fCC-bold-sC cCC-text-dark m-0 pb-3">{{'المساعدة' | translate}}</p>
        <p class="fCC-reg-sD cCC-opacity-dark-70 uCC-Click">{{'تسجيل دخول' | translate}}</p>
        <p class="fCC-reg-sD cCC-opacity-dark-70 uCC-Click">{{'تسجيل جديد' | translate}}</p>
        <p class="fCC-reg-sD cCC-opacity-dark-70 uCC-Click">{{'اتصل بنا' | translate}}</p>
    </div>
</div>