<div class="d-flex justify-content-between align-items-center cCC-bg-white p-3" style="border-radius: 20px;">
    <div class="d-flex align-items-center">
        <!-- Location Icon -->
        <i class="iCC-Redlocation iCC-sD d-flex imCC-Background-Cover ms-3"></i>
        <div>
            <!-- Address Information -->
            <p class="mb-0 cCC-text-dark fCC-bold-sB me-1">{{userAddress?.area}} - {{userAddress?.street}}</p>
            <p class="mb-0 cCC-text-dark fCC-bold-sB me-1">{{userAddress?.area}} - {{userAddress?.street}} - {{userAddress?.landmark}} - {{userAddress?.building_num}}</p>
            <!-- <p class="mb-0 fCC-reg-sC cCC-text-opacity-dark-50"> 10 مصطفي النحاس عمارة الجوهرة</p> -->
        </div>
    </div>
    <div>
        <!-- Change Address Button -->
        <button class="border-0 cCC-bg-main uCC-f-radius-sA py-1 px-4 ms-2">
          <app-icon iconName="iCC-Greylocation iCC-sD imCC-Background-Contain d-flex ms-2" textContent="تغيير العنوان"
              textClass="fCC-bold-sB cCC-text-lightblue">
            </app-icon>
        </button>
    </div>
</div>