<div class="d-flex flex-md-row flex-column justify-content-between align-items-md-center align-items-start cCC-bg-white p-3 w-100" style="border-radius: 20px;">
    <div class="d-flex align-items-center">
        <!-- Location Icon -->
        <i class="iCC-Redlocation iCC-sD d-flex imCC-Background-Cover {{'ms-3' | translate}}"></i>
        <div>
            <!-- Address Information -->
            <p class="mb-0 cCC-text-dark fCC-bold-sB {{'me-1' | translate}}">{{this._OrderProccessService.userAddress?.data == '' ? '' : this._OrderProccessService.userAddress?.data[0]?.area}} - {{this._OrderProccessService.userAddress?.data == '' ? '' : this._OrderProccessService.userAddress?.data[0]?.street}}</p>
            <p class="mb-0 cCC-text-dark fCC-bold-sB {{'me-1' | translate}}">{{this._OrderProccessService.userAddress?.data == '' ? '' : this._OrderProccessService.userAddress?.data[0]?.area}} - {{this._OrderProccessService.userAddress?.data == '' ? '' : this._OrderProccessService.userAddress?.data[0]?.street}} - {{this._OrderProccessService.userAddress?.data == '' ? '' : this._OrderProccessService.userAddress?.data[0]?.landmark}} - {{this._OrderProccessService.userAddress?.data == '' ? '' : this._OrderProccessService.userAddress?.data[0]?.building_num}}</p>
        </div>
    </div>
    <div class="mt-md-0 mt-4">
        <!-- Change Address Button -->
        <app-check-out-popup-shared></app-check-out-popup-shared>
    </div>
</div>