// Vars Color
$main : #f5504c ;
$support1:#EDEDF4;
$support2:#707070;
$dark:#363537;
$white:#ffffff;
$grey:#8F8D91;
$blue:#408ddb;
$yellow:#d7c218;
$green:#4ee143;
$darkgrey: #707070;
$lightgray:#9A9A9A;
$orange:#E66B32;

// START === Background Color
.cCC-bg-main{
  background-color:$main;
}
.cCC-bg-white{
  background-color:$white;
}
.cCC-bg-support1{
  background-color:$support1;
}
.cCC-bg-support2{
  background-color:$support2;
}
.cCC-bg-dark{
  background-color:$dark;
}
.cCC-bg-blue{
  background-color:$blue;
}
.cCC-bg-yellow{
  background-color:$yellow;
}
.cCC-bg-green{
  background-color:$green;
}
// END === Background Color

// START === Background With Opacity Color
.cCC-opacity-gray-10{
  background-color: rgba(112,112,112,0.1);
}
.cCC-opacity-blue-20{
  background-color: rgba(64, 141, 219,0.2);
}
.cCC-opacity-yellow-20{
  background-color: rgba(251, 194, 24,0.2);
}
.cCC-opacity-green-20{
  background-color: rgba(78, 225, 67,0.2);
}
.cCC-opacity-support1-10{
  background-color: rgba(237, 237, 244, 0.1);
}
.cCC-opacity-support1-20{
  background-color: rgba(237, 237, 244, 0.2);
}
.cCC-opacity-support1-30{
  background-color: rgba(237, 237, 244 , 0.3);
}
.cCC-opacity-support1-90{
  background-color: rgba(237, 237, 244 , 0.9);
}
.cCC-opacity-support1-50{
  background-color: rgba(237, 237, 244 , 0.5);
}
// END === Background With Opacity Color

// START ===  Color With Opacity
.cCC-opacity-dark-70{
  color: rgba(44, 23, 65, 0.7);
}
// END ===  Color With Opacity
// START ==== Gradient Background
.cCC-gradient-TtB{
  background: linear-gradient(to bottom,#fff 40%, rgba(237, 237, 244, 0.2)0%);
}
.cCC-gradient-LtR{
  background-image: linear-gradient(to right, #f5504c ,#5cc8ff );
}
// END ==== Gradient Background
// START === Text Color
.cCC-text-main{
  color:$main;
}
.cCC-text-white{
  color:$white;
}
.cCC-text-support1{
  color:$support1;
}
.cCC-text-support2{
  color:$support2;
}
.cCC-text-dark{
  color:$dark;
}
.cCC-text-grey{
  color:$grey;
}
.cCC-text-orange{
  color:$orange;
}
.cCC-text-lightgray{
  color:$lightgray;
}
.cCC-text-darkgray{
  color:$darkgrey;
}
// END === Text Color
