// Vars Color
$main : #f5504c ;
$support1:#EDEDF4;
$support2:#707070;
$dark:#363537;
$white:#ffffff;

// START === Background Color
.cCC-bg-main{
  background-color:$main;
}
.cCC-bg-white{
  background-color:$white;
}
.cCC-bg-support1{
  background-color:$support1;
}
.cCC-bg-support2{
  background-color:$support2;
}
.cCC-bg-dark{
  background-color:$dark;
}
// END === Background Color

// START === Text Color
.cCC-text-main{
  color:$main;
}
.cCC-text-white{
  color:$white;
}
.cCC-text-support1{
  color:$support1;
}
.cCC-text-support2{
  color:$support2;
}
.cCC-text-dark{
  color:$dark;
}
// END === Text Color
