// Vars Color
$main : #f5504c ;

// START === Background Color
.cCC-bg-main{
  background-color:$main;
}
// END === Background Color

// START === Text Color
.cCC-text-main{
  color:$main;
}
// END === Text Color
