// START === Icons
.iCC-Searchwhite{
  background-image: url(../assets/icons/Searchwhite.svg)
}
.iCC-Cartred{
  background-image: url(../assets/icons/bag-tick-2.svg)
}
.iCC-Cartgrey{
  background-image: url(../assets/icons/Cart-grey.svg)
}
.iCC-Location{
  background-image: url(../assets/icons/Location.svg)
}
.iCC-Hand{
  background-image: url(../assets/icons/Hand.svg)
}
.iCC-Clockgreen{
  background-image: url(../assets/icons/Clockgreen.svg)
}
.iCC-Wireless{
  background-image: url(../assets/icons/Wireless.svg)
}
.iCC-Instagram{
  background-image: url(../assets/icons/Instagram.svg)
}
.iCC-Youtube{
  background-image: url(../assets/icons/Youtube.svg)
}
.iCC-Twitter{
  background-image: url(../assets/icons/Twitter.svg)
}
.iCC-Facebook{
  background-image: url(../assets/icons/Facebook.svg)
}
.iCC-Lunlogo{
  background-image: url(../assets/icons/Lunlogo.svg)
}
.iCC-message{
  background-image: url(../assets/icons/Message.svg)
}
.iCC-SearchSideNav{
  background-image: url(../assets/icons/Searchsidenav.svg)
}
.iCC-Types{
  background-image: url(../assets/icons/Types.svg)
}
.iCC-Filter{
  background-image: url(../assets/icons/Filtersidenav.svg)
}
.iCC-Share{
  background-image: url(../assets/icons/Share.svg)
}
.iCC-Location1{
  background-image: url(../assets/icons/location1.svg)
}
.iCC-Plus{
  background-image: url(../assets/icons/Plus.svg)
}
.iCC-Plusgrey{
  background-image: url(../assets/icons/Plusgrey.svg)
}
.iCC-Booksquare{
  background-image: url(../assets/icons/Booksquare.svg)
}
.iCC-Rateresturant{
  background-image: url(../assets/icons/Rateresturant.svg)
}
.iCC-Information{
  background-image: url(../assets/icons/info.svg)
}
.iCC-Pay1{
  background-image: url(../assets/icons/Pay1.svg)
}
.iCC-Payvisa{
  background-image: url(../assets/icons/Pay2.svg)
}
.iCC-Paycash{
  background-image: url(../assets/icons/Pay3.svg)
}
.iCC-Home{
  background-image: url(../assets/icons/Home.svg)
}
.iCC-Arrowleft{
  background-image: url(../assets/icons/Arrowleft.svg)
}
.iCC-Usertag{
  background-image: url(../assets/icons/Usertag.svg)
}
.iCC-Mobile{
  background-image: url(../assets/icons/Mobile.svg)
}
.iCC-Lock{
  background-image: url(../assets/icons/Lock.svg)
}
.iCC-Menu{
  background-image: url(../assets/icons/Menu.svg)
}
.iCC-Visa{
  background-image: url(../assets/icons/Visa.svg)
}
.iCC-Visablue{
  background-image: url(../assets/icons/VisaBlue.svg)
}
.iCC-Messagetext{
  background-image: url(../assets/icons/Messagetext.svg)
}
.iCC-Photocamera{
  background-image: url(../assets/icons/Photocamera.svg)
}
.iCC-Profile{
  background-image: url(../assets/icons/Profile.svg)
}
.iCC-Email{
  background-image: url(../assets/icons/Email.svg)
}
.iCC-Calender{
  background-image: url(../assets/icons/Calendar.svg)
}
.iCC-Plusblack{
  background-image: url(../assets/icons/Plusblack.svg)
}
.iCC-Minusblack{
  background-image: url(../assets/icons/Minusdark.svg)
}
.iCC-Minusgrey{
  background-image: url(../assets/icons/Minusgrey.svg)
}
.iCC-Reload{
  background-image: url(../assets/icons/Reload.svg)
}
.iCC-Locationred{
  background-image: url(../assets/icons/Loctaionred.svg)
}
.iCC-Clockred{
  background-image: url(../assets/icons/Clockred.svg)
}
.iCC-Trash{
  background-image: url(../assets/icons/Trash.svg)
}
.iCC-Trickcircle{
  background-image: url(../assets/icons/Tickcircle.svg)
}
.iCC-Mobilelogin{
  background-image: url(../assets/icons/Mobilelogin.svg)
}
.iCC-Lockpassword{
  background-image: url(../assets/icons/Lockpassword.svg)
}
.iCC-Seepassword{
  background-image: url(../assets/icons/Hidepassword.svg)
}
.iCC-Closebutton{
  background-image: url(../assets/icons/Closebutton.svg)
}
.iCC-UserName{
  background-image: url(../assets/icons/Usernamecard.svg)
}
.iCC-Apple{
  background-image: url(../assets/icons/Apple.svg)
}
.iCC-Logo{
  background-image: url(../assets/icons/Logo.png)
}
.iCC-Dot{
  background-image: url(../assets/icons/Dot.svg)
}
.iCC-Newdislike{
  background-image: url(../assets/icons/disLike.svg)
}
.iCC-Newlike{
  background-image: url(../assets/icons/Like.svg)
}
.iCC-Newclock{
  background-image: url(../assets/icons/Newclock.svg)
}
.iCC-Newstars{
  background-image: url(../assets/icons/Newstars.svg)
}
.iCC-Newtables{
  background-image: url(../assets/icons/Newtables.svg)
}
.iCC-Newqrcode{
  background-image: url(../assets/icons/Newqrcode.svg)
}
.iCC-Newplus{
  background-image: url(../assets/icons/Newplus.svg)
}
.iCC-Calories{
  background-image: url(../assets/icons/Calories.svg)
}
.iCC-Redlocation{
  background-image: url(../assets/icons/Redlocation.svg)
}
.iCC-Greylocation{
  background-image: url(../assets/icons/Locationgrey.svg)
}
.iCC-Mobile1{
  background-image: url(../assets/icons/Mobile1.svg)
}
.iCC-Fromresturant{
  background-image: url(../assets/icons/Fromresturant.svg)
}
.iCC-Fromdelivery{
  background-image: url(../assets/icons/Fromdelivery.svg)
}
.iCC-Sheet{
  background-image: url(../assets/icons/Sheet.svg)
}
.iCC-GridViewgrey{
  background-image: url(../assets/icons/GridView-grey.svg)
}
.iCC-GridViewred{
  background-image: url(../assets/icons/GridView-red.svg)
}
.iCC-Listviewgrey{
  background-image: url(../assets/icons/Listview-grey.svg)
}
.iCC-Listviewred{
  background-image: url(../assets/icons/Listview-red.svg)
}
.iCC-Logofooter{
  background-image: url(../assets/icons/Logofooter.svg)
}
.iCC-Redplus{
  background-image: url(../assets/icons/Redplus.svg)
}
.iCC-Greyminus{
  background-image: url(../assets/icons/Greyminus.svg)
}
.iCC-Cook{
  background-image: url(../assets/icons/CookIcon.svg)
}
.iCC-star{
  background-image: url(../assets/icons/star.svg)
}
.iCC-Stargrey{
  background-image: url(../assets/icons/Greystar.svg)
}
.iCC-DeliveryChat{
  background-image: url(../assets/icons/Chatdelivery.svg)
}
.iCC-Myopinions{
  background-image: url(../assets/icons/Myopinions.svg)
}
.iCC-Showpassword{
  background-image: url(../assets/icons/Showpassword.svg)
}
.iCC-TrackingIcon{
  background-image: url(../assets/icons/TrackingIcon.svg)
}
.iCC-Menunotification{
  background-image: url(../assets/icons/Notificationmenu.svg)
}
.iCC-NavbarIcon{
  background-image: url(../assets/icons/NavbarIcon.svg)
}
.iCC-LogoImage{
  background-image: url(../assets/icons/LogoImg.svg)
}
.iCC-HandIcon{
  background-image: url(../assets/icons/HandHome.svg)
}
.iCC-TypesBlack{
  background-image: url(../assets/icons/TypesBlack.svg)
}
.iCC-FiltersBlack{
  background-image: url(../assets/icons/FiltersBlack.svg)
}
.iCC-CloseFilter{
  background-image: url(../assets/icons/CloseFilter.svg)
}
.iCC-Fire{
  background-image: url(../assets/icons/fire.svg)
}
.iCC-CtegoriesBlack{
  background-image: url(../assets/icons/CategoriesBlack.svg)
}
.iCC-CartIconResponsive{
  background-image: url(../assets/icons/CartIconMobile.svg)
}
.iCC-MyItemsIcon{
  background-image: url(../assets/icons/MyItemsIcon.svg)
}
.iCC-Send{
    background-image: url(../assets/icons/sendIcon.svg)
}
.iCC-NotesIcon{
    background-image: url(../assets/icons/NotesIcon.svg)
}
.iCC-AboutUs{
    background-image: url(../assets/icons/AboutUsIcon.svg)
}
.iCC-appReview{
  background-image: url(../assets/icons/appReview.svg)
}
.iCC-resturantReview{
  background-image: url(../assets/icons/resturantReview.svg)
}
.iCC-deliveryReview{
  background-image: url(../assets/icons/DeliveryReview.svg)
}
.iCC-reviewPdf{
  background-image: url(../assets/icons/Reviewpdf.svg)
}
.iCC-pdfIcon{
  background-image: url(../assets/icons/pdfIcon.svg)
}
.iCC-settingBlack{
  background-image: url(../assets/icons/settingsBlack.svg)
}
// SideMenu Icons
.iCC-HomePageIcon{
  background-image: url(../assets/icons/HomePage.svg)
}
.iCC-PrivacyPolicyPage{
  background-image: url(../assets/icons/PrivacyPolicyPage.svg)
}
.iCC-ContactUsPage{
  background-image: url(../assets/icons/ContactUsPage.svg)
}
.iCC-Setting{
  background-image: url(../assets/icons/SettingsPage.svg)
}
.iCC-downArrow{
  background-image: url(../assets/icons/downArrow.svg)
}
.iCC-languageIcon{
  background-image: url(../assets/icons/languageIcon.svg)
}
.iCC-payment{
  background-image: url(../assets/icons/payment.svg)
}
// END === Icons

// START === Icon Size

.iCC-sA{
  width: 12px;
  height: 12px;
}
.iCC-sB{
  width: 16px;
  height: 16px;
}
.iCC-sC{
  width: 20px;
  height: 20px;
}
.iCC-sD{
  width: 24px;
  height: 24px;
}
.iCC-sE{
  width: 32px;
  height: 32px;
}
.iCC-sF{
  width: 40px;
  height: 40px;
}
.iCC-sG{
  width: 48px;
  height: 48px;
}
.iCC-sH{
  width: 64px;
  height: 64px;
}
.iCC-sI{
  width: 72px;
  height: 72px;
}

.iCC-sK{
  width: 8px;
  height: 8px;
}
.iCC-sL{
  width: 10px;
  height: 10px;
}
// END === Icon Size
