// START === Images
.iCC-Searchwhite{
  background-image: url(../assets/icons/Searchwhite.svg)
}
.iCC-Favourite{
  background-image: url(../assets/icons/Favourite.svg)
}
.iCC-Location{
  background-image: url(../assets/icons/Location.svg)
}
.iCC-Manclock{
  background-image: url(../assets/icons/Man&clock.svg)
}
.iCC-Hand{
  background-image: url(../assets/icons/Hand.svg)
}
.iCC-Clockgreen{
  background-image: url(../assets/icons/Clockgreen.svg)
}
.iCC-Clockblue{
  background-image: url(../assets/icons/Clockblue.svg)
}
.iCC-Wireless{
  background-image: url(../assets/icons/Wireless.svg)
}
.iCC-Instagram{
  background-image: url(../assets/icons/Instagram.svg)
}
.iCC-Youtube{
  background-image: url(../assets/icons/Youtube.svg)
}
.iCC-Twitter{
  background-image: url(../assets/icons/Twitter.svg)
}
.iCC-Facebook{
  background-image: url(../assets/icons/Facebook.svg)
}
.iCC-Lunlogo{
  background-image: url(../assets/icons/Lunlogo.svg)
}
.iCC-Table{
  background-image: url(../assets/icons/Table.svg)
}
.iCC-Star{
  background-image: url(../assets/icons/Star.svg)
}
.iCC-Heartempty{
  background-image: url(../assets/icons/Heartempty.svg)
}
.iCC-Heartred{
  background-image: url(../assets/icons/Heartred.svg)
}
.iCC-message{
  background-image: url(../assets/icons/Message.svg)
}
.iCC-Send{
  background-image: url(../assets/icons/Send.svg)
}
.iCC-Heat{
  background-image: url(../assets/icons/icon1.svg)
}
.iCC-Filter{
  background-image: url(../assets/icons/Filter.svg)
}
.iCC-Share{
  background-image: url(../assets/icons/Share.svg)
}
.iCC-Location1{
  background-image: url(../assets/icons/location1.svg)
}
.iCC-Phone-green{
  background-image: url(../assets/icons/Phonegreen.svg)
}
.iCC-Plus{
  background-image: url(../assets/icons/Plus.svg)
}
.iCC-Booksquare{
  background-image: url(../assets/icons/Booksquare.svg)
}
.iCC-Rateresturant{
  background-image: url(../assets/icons/Rateresturant.svg)
}
.iCC-Information{
  background-image: url(../assets/icons/info.svg)
}
.iCC-Pay1{
  background-image: url(../assets/icons/Pay1.svg)
}
.iCC-Payvisa{
  background-image: url(../assets/icons/Pay2.svg)
}
.iCC-Paycash{
  background-image: url(../assets/icons/Pay3.svg)
}
.iCC-Home{
  background-image: url(../assets/icons/Home.svg)
}
.iCC-Arrowleft{
  background-image: url(../assets/icons/Arrowleft.svg)
}
.iCC-Usertag{
  background-image: url(../assets/icons/Usertag.svg)
}
.iCC-Mobile{
  background-image: url(../assets/icons/Mobile.svg)
}
.iCC-Lock{
  background-image: url(../assets/icons/Lock.svg)
}
.iCC-Menu{
  background-image: url(../assets/icons/Menu.svg)
}
.iCC-Visa{
  background-image: url(../assets/icons/Visa.svg)
}
.iCC-Messagetext{
  background-image: url(../assets/icons/Messagetext.svg)
}
.iCC-Photocamera{
  background-image: url(../assets/icons/Photocamera.svg)
}
.iCC-Profile{
  background-image: url(../assets/icons/Profile.svg)
}
.iCC-Email{
  background-image: url(../assets/icons/Email.svg)
}
.iCC-Calender{
  background-image: url(../assets/icons/Calendar.svg)
}
.iCC-Plusblack{
  background-image: url(../assets/icons/Plusblack.svg)
}
.iCC-Minusblack{
  background-image: url(../assets/icons/Minusdark.svg)
}
.iCC-Minusgrey{
  background-image: url(../assets/icons/Minusgrey.svg)
}
.iCC-Reload{
  background-image: url(../assets/icons/Reload.svg)
}
.iCC-Locationred{
  background-image: url(../assets/icons/Loctaionred.svg)
}
.iCC-Clockred{
  background-image: url(../assets/icons/Clockred.svg)
}
.iCC-Trash{
  background-image: url(../assets/icons/Trash.svg)
}
.iCC-Trickcircle{
  background-image: url(../assets/icons/Tickcircle.svg)
}
.iCC-Mobilelogin{
  background-image: url(../assets/icons/Mobilelogin.svg)
}
.iCC-Lockpassword{
  background-image: url(../assets/icons/Lockpassword.svg)
}
.iCC-Seepassword{
  background-image: url(../assets/icons/Seepassword.svg)
}
.iCC-Closebutton{
  background-image: url(../assets/icons/Closebutton.svg)
}
// END === Images

// START === Icon Size

.iCC-sA{
  width: 12px;
  height: 12px;
}
.iCC-sB{
  width: 16px;
  height: 16px;
}
.iCC-sC{
  width: 20px;
  height: 20px;
}
.iCC-sD{
  width: 24px;
  height: 24px;
}
.iCC-sE{
  width: 32px;
  height: 32px;
}
.iCC-sF{
  width: 40px;
  height: 40px;
}
.iCC-sG{
  width: 48px;
  height: 48px;
}
.iCC-sH{
  width: 64px;
  height: 64px;
}
.iCC-sI{
  width: 72px;
  height: 72px;
}
.iCC-sJ{
  width: 152px;
  height: 168px;
}
.iCC-sK{
  width: 8px;
  height: 8px;
}
// END === Icon Size
