// START === Icons
.iCC-Searchwhite{
  background-image: url(../assets/icons/Searchwhite.svg)
}
// .iCC-Cartred{
//   background-image: url(../assets/icons/bag-tick-2.svg)
// }
.iCC-Cartgrey{
  background-image: url(../assets/icons/Cart-grey.svg)
}
.iCC-Location{
  background-image: url(../assets/icons/Location.svg)
}
.iCC-Manclock{
  background-image: url(../assets/icons/Man&clock.svg)
}
.iCC-Hand{
  background-image: url(../assets/icons/Hand.svg)
}
.iCC-Clockgreen{
  background-image: url(../assets/icons/Clockgreen.svg)
}
.iCC-Clockblue{
  background-image: url(../assets/icons/Clockblue.svg)
}
.iCC-Wireless{
  background-image: url(../assets/icons/Wireless.svg)
}
.iCC-Instagram{
  background-image: url(../assets/icons/Instagram.svg)
}
.iCC-Youtube{
  background-image: url(../assets/icons/Youtube.svg)
}
.iCC-Twitter{
  background-image: url(../assets/icons/Twitter.svg)
}
.iCC-Facebook{
  background-image: url(../assets/icons/Facebook.svg)
}
.iCC-Lunlogo{
  background-image: url(../assets/icons/Lunlogo.svg)
}
.iCC-Table{
  background-image: url(../assets/icons/Table.svg)
}
.iCC-Star{
  background-image: url(../assets/icons/Star.svg)
}
.iCC-message{
  background-image: url(../assets/icons/Message.svg)
}
.iCC-Send{
  background-image: url(../assets/icons/Send.svg)
}
.iCC-SearchSideNav{
  background-image: url(../assets/icons/Searchsidenav.svg)
}
.iCC-Types{
  background-image: url(../assets/icons/Types.svg)
}
.iCC-Filter{
  background-image: url(../assets/icons/Filtersidenav.svg)
}
.iCC-Share{
  background-image: url(../assets/icons/Share.svg)
}
.iCC-Location1{
  background-image: url(../assets/icons/location1.svg)
}
.iCC-Phone-green{
  background-image: url(../assets/icons/Phonegreen.svg)
}
.iCC-Plus{
  background-image: url(../assets/icons/Plus.svg)
}
.iCC-Booksquare{
  background-image: url(../assets/icons/Booksquare.svg)
}
.iCC-Rateresturant{
  background-image: url(../assets/icons/Rateresturant.svg)
}
.iCC-Information{
  background-image: url(../assets/icons/info.svg)
}
.iCC-Pay1{
  background-image: url(../assets/icons/Pay1.svg)
}
.iCC-Payvisa{
  background-image: url(../assets/icons/Pay2.svg)
}
.iCC-Paycash{
  background-image: url(../assets/icons/Pay3.svg)
}
.iCC-Home{
  background-image: url(../assets/icons/Home.svg)
}
.iCC-Arrowleft{
  background-image: url(../assets/icons/Arrowleft.svg)
}
.iCC-Usertag{
  background-image: url(../assets/icons/Usertag.svg)
}
.iCC-Mobile{
  background-image: url(../assets/icons/Mobile.svg)
}
.iCC-Lock{
  background-image: url(../assets/icons/Lock.svg)
}
.iCC-Menu{
  background-image: url(../assets/icons/Menu.svg)
}
.iCC-Visa{
  background-image: url(../assets/icons/Visa.svg)
}
.iCC-Messagetext{
  background-image: url(../assets/icons/Messagetext.svg)
}
.iCC-Photocamera{
  background-image: url(../assets/icons/Photocamera.svg)
}
.iCC-Profile{
  background-image: url(../assets/icons/Profile.svg)
}
.iCC-Email{
  background-image: url(../assets/icons/Email.svg)
}
.iCC-Calender{
  background-image: url(../assets/icons/Calendar.svg)
}
.iCC-Plusblack{
  background-image: url(../assets/icons/Plusblack.svg)
}
.iCC-Minusblack{
  background-image: url(../assets/icons/Minusdark.svg)
}
.iCC-Minusgrey{
  background-image: url(../assets/icons/Minusgrey.svg)
}
.iCC-Reload{
  background-image: url(../assets/icons/Reload.svg)
}
.iCC-Locationred{
  background-image: url(../assets/icons/Loctaionred.svg)
}
.iCC-Clockred{
  background-image: url(../assets/icons/Clockred.svg)
}
.iCC-Trash{
  background-image: url(../assets/icons/Trash.svg)
}
.iCC-Trickcircle{
  background-image: url(../assets/icons/Tickcircle.svg)
}
.iCC-Mobilelogin{
  background-image: url(../assets/icons/Mobilelogin.svg)
}
.iCC-Lockpassword{
  background-image: url(../assets/icons/Lockpassword.svg)
}
.iCC-Seepassword{
  background-image: url(../assets/icons/Seepassword.svg)
}
.iCC-Closebutton{
  background-image: url(../assets/icons/Closebutton.svg)
}
.iCC-UserName{
  background-image: url(../assets/icons/Usernamecard.svg)
}
.iCC-Apple{
  background-image: url(../assets/icons/Apple.svg)
}
.iCC-Store{
  background-image: url(../assets/icons/Store.svg)
}
.iCC-Logo{
  background-image: url(../assets/icons/Logo.png)
}
.iCC-Dot{
  background-image: url(../assets/icons/Dot.svg)
}
.iCC-Newlike{
  background-image: url(../assets/icons/Newlike.svg)
}
.iCC-Newclock{
  background-image: url(../assets/icons/Newclock.svg)
}
.iCC-Newstars{
  background-image: url(../assets/icons/Newstars.svg)
}
.iCC-Newtables{
  background-image: url(../assets/icons/Newtables.svg)
}
.iCC-Newqrcode{
  background-image: url(../assets/icons/Newqrcode.svg)
}
.iCC-resturant-icon{
  background-image: url(../assets/icons/ResturantIcon.png)
}
.iCC-Newplus{
  background-image: url(../assets/icons/Newplus.svg)
}
.iCC-Calories{
  background-image: url(../assets/icons/Calories.svg)
}
.iCC-Staryellow{
  background-image: url(../assets/icons/Staryellow.svg)
}
.iCC-Flag{
  background-image: url(../assets/icons/Flag.svg)
}
.iCC-Redlocation{
  background-image: url(../assets/icons/Redlocation.svg)
}
.iCC-Greylocation{
  background-image: url(../assets/icons/Locationgrey.svg)
}
.iCC-Mobile1{
  background-image: url(../assets/icons/Mobile1.svg)
}
.iCC-Fromresturant{
  background-image: url(../assets/icons/Fromresturant.svg)
}
.iCC-Fromdelivery{
  background-image: url(../assets/icons/Fromdelivery.svg)
}
.iCC-Sheet{
  background-image: url(../assets/icons/Sheet.svg)
}
.iCC-GridViewgrey{
  background-image: url(../assets/icons/GridView-grey.svg)
}
.iCC-GridViewred{
  background-image: url(../assets/icons/GridView-red.svg)
}
.iCC-Listviewgrey{
  background-image: url(../assets/icons/Listview-grey.svg)
}
.iCC-Listviewred{
  background-image: url(../assets/icons/Listview-red.svg)
}
.iCC-Logofooter{
  background-image: url(../assets/icons/Logofooter.svg)
}
.iCC-Redplus{
  background-image: url(../assets/icons/Redplus.svg)
}
.iCC-Greyminus{
  background-image: url(../assets/icons/Greyminus.svg)
}
.iCC-Cook{
  background-image: url(../assets/icons/CookIcon.svg)
}
.iCC-FoodPrepared{
  background-image: url(../assets/icons/FoodPrepared.svg)
}
.iCC-Stargrey{
  background-image: url(../assets/icons/Greystar.svg)
}
.iCC-DeliveryChat{
  background-image: url(../assets/icons/Chatdelivery.svg)
}
.iCC-Myopinions{
  background-image: url(../assets/icons/Myopinions.svg)
}
// END === Icons

// START === Icon Size

.iCC-sA{
  width: 12px;
  height: 12px;
}
.iCC-sB{
  width: 16px;
  height: 16px;
}
.iCC-sC{
  width: 20px;
  height: 20px;
}
.iCC-sD{
  width: 24px;
  height: 24px;
}
.iCC-sE{
  width: 32px;
  height: 32px;
}
.iCC-sF{
  width: 40px;
  height: 40px;
}
.iCC-sG{
  width: 48px;
  height: 48px;
}
.iCC-sH{
  width: 64px;
  height: 64px;
}
.iCC-sI{
  width: 72px;
  height: 72px;
}
.iCC-sJ{
  width: 152px;
  height: 168px;
}
.iCC-sK{
  width: 8px;
  height: 8px;
}
.iCC-sL{
  width: 10px;
  height: 10px;
}
// END === Icon Size
