// START === Images
.imCC-LogoAR{
  background-image: url(../assets/images/Logoar.svg)
}
.imCC-Telr{
  background-image: url(../assets/images/Telr.png)
}
.imCC-LogoEN{
  background-image: url(../assets/images/logoeng.svg)
}
.imCC-Homecover{
  background-image: url(../assets/images/Homecover.webp)
}
.imCC-Resturantsheader{
   background-image: url(../assets/images/Resturantsheader.webp)
}
.imCC-Mobile{
  background-image: url(../assets/images/Mobileimg.webp)
}
.imCC-Logoappstore{
  background-image: url(../assets/images/Logoappstore.png)
}
.imCC-Logoplaystore{
  background-image: url(../assets/images/Logoplaystore.png)
}
.imCC-Contactlogo{
  background-image: url(../assets/images/Contactlogo.png)
}
.imCC-Qrcode{
  background-image: url(../assets/images/Qrcode.svg)
}
.imCC-Userprofile{
  background-image: url(../assets/images/Userprofile.png)
}
.imCC-Scancode {
  background-image: url(../assets/images/ScanCodeHolder.png)
}
.imCC-DeliveryImage {
  background-image: url(../assets/images/DeliveryImage.png)
}
.imCC-PlaceholderImg {
  background-image: url(../assets/images/placeholder.png)
}
.imCC-Privacypolicy{
    background-image: url(../assets/images/PrivacyPolicy.png)
}
.imCC-Aboutus{
    background-image: url(../assets/images/AboutUsPage.png)
}
// END === Images

// START === Background Holder
.imCC-Background-Cover{
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover
}
.imCC-Background-Contain{
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain
}
// END === BackgroundHolder
// START === Image Sizes
.imCC-sA{
  height: 39px;
  width: 130px;
  @media screen and (max-width : 992px){
    width : 90px;
  }
  @media screen and (max-width : 400px){
    width : 65px;
  }

}
.imCC-sB{
  height: 88px;
  width: 88px;
}
// END === Image Sizes

