// START === Images

.imCC-LogoEN{
  background-image: url(../assets/images/Logo.svg)
}
.imCC-Userimage{
  background-image: url(../assets/images/Userimage.svg)
}
.imCC-Homecover{
  background-image: url(../assets/images/Homecover.png)
}
.imCC-QRcodemenu{
  background-image: url(../assets/images/QRCodeMenu.svg)
}
// END === Images

// START === Background Holder
.uCC-Background-Cover{
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover
}
.uCC-Background-Contain{
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain
}
// END === BackgroundHolder

