// START === General
.uCC-Click{
  cursor: pointer;
}
// END === General

// START === Border
.uCC-Border-sA-Main{
  border: 2px solid #f5504c;
}
.uCC-Border-sB-Main{
  border: 1px solid #f5504c;
}
.uCC-Border-sA-Support1{
  border: 1px solid #EDEDF4;
}
.uCC-Border-yellow{
  border: 1px solid rgb(254, 243, 208);
}
.uCC-Border-blue{
  border: 1px solid rgb(217, 232, 248);
}
.uCC-Border-green{
  border: 1px solid rgb(219, 249 , 217);
}
.uCC-Border-grey{
  border: 2px solid #EDEDF4;
}
.uCC-Border-lightgrey{
  border: 0.5px solid #9A9A9A;
}
// END === Border
// START === Border Radius
.uCC-f-radius-sA{
  border-radius: 10px;
}
.uCC-l-radius-sA{
  border-radius: 10px 0 0 10px;
}
.uCC-f-radius-sB{
  border-radius: 20px;
}
.uCC-f-radius-sC{
  border-radius: 50px;
}
.uCC-f-radius-sD{
  border-radius: 10px 20px 10px 20px;
}
.uCC-l-radius-sE{
  border-radius: 0 0 10px 10px;
}
.uCC-l-radius-sF{
  border-radius: 0 10px 10px 0px;
}
.uCC-l-radius-sG{
  border-radius: 0px 20px 20px 0px;
}
.uCC-l-radius-sH{
  border-radius: 20px 0px 0px 20px;
}

// END === Border Radius
/* START === App Size  */
.uCC-h-48 {
  height: 48px !important;
}
.uCC-h-42 {
  height: 42px !important;
}
/* END === App Size  */
.uCC-w-140 {
  width: 140px !important;
}
/* START === Line Height  */
.uCC-Lineheight-A{
  line-height: 1.5;
}
.uCC-line-Hight-B{
  line-height: 2;
}
/* END === Line Height  */
/* START === Gaps  */

.uCC-gap-8{
  gap: 8px;
}
.uCC-gap-16{
  gap: 16px;
}
.uCC-gap-24{
  gap: 24px;
}
.uCC-gap-32{
  gap: 32px;
}

/* END === Gaps  */
/* START === Transitions  */
.uCC-t-4{
  transition: ease-in-out 0.400s;
}
.uCC-t-6{
  transition: ease-in-out 0.600s;
}
/* END === Transition  */




