<div class="row d-flex align-items-center justify-content-center">
<div class="col-8">
   <div class="uCC-h-48 bg-white d-flex align-items-center uCC-Border-sb uCC-f-radius-sA p-3">
        <!-- location icon inside search bar -->
        <i class="iCC-Location d-flex iCC-sC"></i>
        <!-- search bar -->
        <input type="text" placeholder="ابحث عن مكانك المفضل" name="search" class="form-control uCC-Border-sB cCC-text-support2">
        <!-- selection box inside search bar -->
        <select name="country" class="uCC-h-42 uCC-w-140 cCC-bg-support1 uCC-l-radius-sA uCC-Border-sB fCC-reg-sC cCC-text-support2">
            <option class="cCC-bg-secondary" *ngFor="let country of countries" value="{{country.value}}">{{country.name}}
            </option>
        </select>
    </div>
</div>
<div class="col-2">
    <button class="cCC-bg-main cCC-text-secondary form-control uCC-Border-sB uCC-f-radius-sA uCC-h-48">ابحث</button>
</div>
</div>
