<section class="d-flex w-100 align-items-center justify-content-between uCC-f-radius-sB cCC-bg-support1 mt-4 mb-3 position-sticky top-0">
    <!--  Search Input -->
    <input type="search" placeholder="أبحث عن أكلتك المفضلة" name="search"
        class="py-2 border-0 fCC-reg-sD cCC-bg-support1 me-3">
    <!-- Button Send -->
    <button class="btn p-2 cCC-bg-main cCC-text-white fCC-reg-sD uCC-f-radius-sA d-flex">
        <!-- Icon Send and text Inside Button -->
        <app-icon iconName="iCC-Searchwhite d-flex iCC-sD cCC-text-support1 imCC-Background-Contain"></app-icon>
    </button>
</section>
<!-- Resturant Menu Section -->
<section class="CC-scroll">
    <app-resturant-menu-section></app-resturant-menu-section>
</section>