<form #phoneForm='ngForm' (ngSubmit)="ngSubmit(phoneForm.value)">
    <!-- Div Holder-->
    <label for="phone" class="cCC-text-support2 fCC-reg-sB mb-2">رقم الهاتف</label>
    <div [ngClass]="{'has-danger': phone.invalid &&(phone.dirty),
        'has-success':phone.valid && (phone.dirty) }"
        class=" d-flex uCC-shadow-f-white-10 px-3 form-input align-items-center uCC-f-radius-sA cCC-bg-white mb-2">
        <!-- Mobile icon -->
        <app-icon iconName="iCC-Mobilelogin d-flex iCC-sB ms-2"></app-icon>
        <!-- Mobile Input-->
        <input #phone="ngModel" type="text" placeholder="+966"
            class="form-control border-0 fCC-reg-sB py-3 cCC-text-support2 m-0 p-0" name="phone" ngModel required minlength="13"
            maxlength="13">
    </div>
    <!-- Errors Div -->
    <div *ngIf="phone.errors && (phone.dirty)" class="mb-5 me-2">
        <p *ngIf="phone.errors?.required" class="CC-alert fCC-bold-sA">يجب إدخال رقم الهاتف</p>
        <p *ngIf="phone.errors?.minlength" class="CC-alert fCC-bold-sA">رقم الهاتف غير صحيح</p>
    </div>
    <!-- Text -->
    <div class="mb-5 pb-5">
        <!-- <p class="fCC-bold-sD cCC-text-dark m-0 mb-2"> رمز التأكيد</p> -->
        <p class="m-0 fCC-reg-sC cCC-text-support2 col-6">
            يسعدنا لأنك سوف تصبح فردا منا
        </p>
    </div>
    <!-- Send OTP Button -->
    <button [disabled]="phoneForm.invalid" type="submit"
        class="CC-Btn text-center form-control border-0 cCC-bg-main uCC-f-radius-sA cCC-text-white p-2 ms-4 mt-2">
        <span class="fCC-bold-sB">إرسال رمز التأكيد</span>
    </button>
</form>