<!-- First Model -->
<div *ngIf="_AccountService.userValue?.data?.token"
    class="modal fade {{(!this._MarketService.nearbyProccess?.receive_method || !this._MarketService.nearbyProccess?.myLat) && 'uCC-stopPropagation'}}"
    id="exampleModalToggle" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content cCC-bg-lightblue uCC-Border-white py-4">
            <!-- Header Section -->
            <div id="exampleModalToggleLabel" class="d-flex flex-column align-items-center justify-content-center">
                <i class="iCC-HandIcon iCC-sE imCC-Background-Contain d-flex"></i>
                <p class="m-0 fCC-bold-sB cCC-text-dark">{{'من فضلك إختر طريقة الإستلام' | translate}}</p>
                <p class="m-0 cCC-text-dark fCC-reg-sC">{{'يمكنك تغير هذه الطريقة من قائمة الاإعدادات' | translate}}</p>
            </div>
            <!-- Main Section -->
            <div class="modal-body">
                <div class="d-sm-flex gap-3">
                    <div
                        class="d-flex justify-content-between align-items-center w-100 cCC-bg-white uCC-f-radius-sA px-3 py-2 mb-sm-0 mb-3">
                        <app-icon
                            iconName="iCC-Fromresturant iCC-sD imCC-Background-Contain d-flex {{'ms-3' | translate}}"
                            textContent="{{'استلام عبر المطعم' | translate}}" textClass="fCC-reg-sD cCC-text-dark">
                        </app-icon>
                        <input type="radio" name="togglex" class="uCC-Click" style="border-color: red;"
                            (change)="radioValue($event, 0)">
                    </div>
                    <div
                        class="d-flex w-100 justify-content-between align-items-center cCC-bg-white uCC-f-radius-sA px-3 py-2">
                        <app-icon
                            iconName="iCC-Fromdelivery iCC-sD imCC-Background-Contain d-flex {{'ms-3' | translate}}"
                            textContent="{{'استلام في  المنزل' | translate}}" textClass="fCC-reg-sD cCC-text-dark">
                        </app-icon>
                        <input type="radio" name="togglex" class="uCC-Click" style="border-color: red;"
                            (change)="radioValue($event, 1)">
                    </div>
                </div>
            </div>
            <button [hidden]="true" #reciveMethodBTN class="btn cCC-bg-main w-100 uCC-f-radius-sA"
                data-bs-target="#exampleModalToggle2" data-bs-toggle="modal"></button>
        </div>
    </div>
</div>

<!-- Secound Model -->
<div class="modal fade {{!this._MarketService.nearbyProccess?.myLat && 'uCC-stopPropagation'}}" id="exampleModalToggle2"
    aria-hidden="true" aria-labelledby="exampleModalToggleLabel2" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content cCC-bg-lightblue uCC-Border-white">
            <!-- Header Section -->
            <div class="modal-header~ mx-auto mt-4 mb-2">
                <h5 class="modal-title cCC-text-dark fCC-bold-sD" id="exampleModalToggleLabel2">{{'إضافة عنوان جديد' |
                    translate}}</h5>
                <!-- <button type="button" class="btn-close me-auto" data-bs-dismiss="modal" aria-label="Close"></button> -->
            </div>
            <!-- Main Section -->
            <div class="modal-body px-3">
                <app-map-view-block></app-map-view-block>
            </div>
            <!-- Footer Section -->
            <div class="modal-footer">
                <div class="d-flex gap-2 align-items-center">
                    <p class="m-0 cCC-text-dark fCC-reg-sC">Address : {{this._MapViewService.country + '-' + this._MapViewService.city}}</p>
                    <i class="iCC-Redlocation iCC-sD d-flex imCC-Background-Cover"></i>
                </div>
                <button class="btn cCC-bg-main w-100 uCC-f-radius-sA" data-bs-target="#exampleModalToggle"
                    data-bs-toggle="modal">
                    <span class="fCC-bold-sB cCC-text-lightblue">{{'الرجوع' | translate}}</span>
                </button>
                <button [disabled]="!this._MarketService.nearbyProccess?.latitude"
                    class="btn cCC-bg-main w-100 uCC-f-radius-sA" data-bs-target="#exampleModalToggle3"
                    data-bs-toggle="modal">
                    <span class="fCC-bold-sB cCC-text-lightblue">{{'تأكيد العنوان' | translate}}</span>
                </button>
            </div>
        </div>
    </div>
</div>
<!-- Secound Model -->
<div class="modal fade " id="exampleModalToggle3" aria-hidden="true" aria-labelledby="exampleModalToggleLabel3"
    tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content cCC-bg-lightblue uCC-Border-white">
            <div class="modal-body">
                <form #addressForm="ngForm" (ngSubmit)="ngSubmitAddressDetails(addressForm?.value)">
                    <label class="cCC-text-support2 fCC-reg-sB mb-2">{{'منطقة التوصيل' | translate}}</label>
                    <div class="mb-4 ">
                        <!-- area name Input-->
                        <input type="text" [(ngModel)] ="this._MapViewService.city" name="area" required autocomplete="off" value="{{this._MapViewService.city}}"
                            class="w-100 border-0 p-3 cCC-bg-white uCC-f-radius-sA fCC-reg-sB cCC-text-support2 m-0">
                    </div>
                    <label class="cCC-text-support2 fCC-reg-sB mb-2">{{'اسم الشارع' | translate}}</label>
                    <div class="mb-4 ">
                        <!-- Street Name Input-->
                        <input type="text" [(ngModel)] ="this._MapViewService.country" name="street" required autocomplete="off" value="{{this._MapViewService.country}}"
                            class="w-100 border-0 p-3 cCC-bg-white uCC-f-radius-sA fCC-reg-sB cCC-text-support2 m-0">
                    </div>
                    <div class="d-flex align-items-center justify-content-between uCC-gap-24">
                        <div class="w-100">
                            <label class="cCC-text-support2 fCC-reg-sB mb-2">{{'رقم العمارة' | translate}}</label>
                            <div class="mb-4~ ">
                                <!-- Apartment Number Input-->
                                <input type="text" ngModel name="building_num" required #buildingNum="ngModel"
                                    autocomplete="off"
                                    class="w-100 border-0 p-3 cCC-bg-white uCC-f-radius-sA fCC-reg-sB cCC-text-support2 m-0">
                            </div>
                        </div>
                        <div class="w-100">
                            <label class="cCC-text-support2 fCC-reg-sB mb-2">{{'رقم الشقة' | translate}}</label>
                            <div class="">
                                <input autocomplete="off" type="text" ngModel name="flat_num" required
                                    (keypress)="this._AuthService.numberOnly($event)"
                                    class="w-100 border-0 p-3 cCC-bg-white uCC-f-radius-sA fCC-reg-sB cCC-text-support2 m-0">
                            </div>
                        </div>
                    </div>
                    <!-- Special marque -->
                    <label class="cCC-text-support2 fCC-reg-sB mb-2">{{'علامة مميزة' | translate}}</label>
                    <div class="mb-4 ">
                        <input autocomplete="off" type="text" ngModel name="landmark" required
                            class="w-100 border-0 p-3 cCC-bg-white uCC-f-radius-sA fCC-reg-sB cCC-text-support2 m-0">
                    </div>
                    <!-- Address Type  -->
                    <label class="cCC-text-support2 fCC-reg-sB mb-2">{{'نوع العنوان' | translate}}</label>
                    <div class="mb-4 ">
                        <input autocomplete="off" type="text" ngModel name="type" required
                            class="w-100 border-0 p-3 cCC-bg-white uCC-f-radius-sA fCC-reg-sB cCC-text-support2 m-0">
                    </div>
                    <!-- Footer Section -->
                    <div class="modal-footer">
                        <button [disabled] = "addressForm.invalid" class="btn cCC-bg-main w-100 uCC-f-radius-sA"
                            data-bs-target="#exampleModalToggle3" data-bs-toggle="modal">
                            <span class="fCC-bold-sB cCC-text-lightblue">{{'تأكيد العنوان' | translate}}</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>