<app-icon iconName="iCC-Location1 iCC-sD imCC-Background-Contain d-flex mx-1 cCC-text-dark"
textContent="الرياض حي الفيصلية" textClass="fCC-reg-sC cCC-text-darkgray"></app-icon>
<div class="my-4"></div>
<!-- Time and Tables and Rate of the Resturant -->
<div class="d-flex justify-content-between">
<app-icon iconName="iCC-Clockblue iCC-sD imCC-Background-Contain d-flex mx-1" textContent="90 دقيقة"
    textClass="fCC-reg-sC cCC-text-support2"></app-icon>
<div class="mx-2"></div>
<app-icon iconName="iCC-Table iCC-sD imCC-Background-Contain d-flex mx-1" textContent="30 طاولة"
    textClass="fCC-reg-sC cCC-text-support2"></app-icon>
<div class="mx-2"></div>
<app-icon iconName="iCC-Star iCC-sD imCC-Background-Contain d-flex mx-1" textContent="4.8"
    textClass="fCC-reg-sC cCC-text-support2"></app-icon>
</div>