<!-- Resturant Cards Header -->
<div class="text-center pt-5">
    <p class="fCC-bold-sF cCC-text-dark m-0 pb-2">يهمنا رأيك أراء بعض مستخدمينا </p>
    <p class="m-0 fCC-reg-sD cCC-text-grey">نص شكلي (بمعنى أن الغاية هي الشكل وليس المحتوى) ويُستخدم في </p>
    <p class="m-0 fCC-reg-sD cCC-text-grey">صناعات المطابع ودور النشر. كان </p>
</div>
<div>
    <div class="d-flex align-items-center justify-content-center pt-5">
        <!-- feedback Card 1 -->
        <app-feedback-card-block userFeedbackimg="imCC-Userfeedbackimg1" userFeedbackName="محمد أنيس"></app-feedback-card-block>
        <!-- divider -->
        <div class="mx-2"></div>
        <!-- feedback Card 2 -->
        <app-feedback-card-block userFeedbackimg="imCC-Userfeedbackimg2" userFeedbackName="محمد أنيس"></app-feedback-card-block>
        <!-- divider -->
        <div class="mx-2"></div>
        <!-- feedback Card 3 -->
        <app-feedback-card-block userFeedbackimg="imCC-Userfeedbackimg3" userFeedbackName="محمد أنيس"></app-feedback-card-block>
    </div>
</div>