<div class="cCC-bg-white uCC-f-radius-sB d-flex uCC-gap-16 align-items-center justify-content-between px-4 py-3">
    <div class="d-flex uCC-gap-16 align-items-center">
        <i class="imCC-DeliveryImage CC-Deliveryimg-Holder imCC-Background-Contain d-flex"></i>
        <div>
            <!-- Delivery Name -->
            <p class="m-0 fCC-bold-sB cCC-text-dark">محمد حفني</p>
            <div class="d-flex align-items-center uCC-gap-8">
                <!-- Delivery Rate -->
                <p class="m-0 fCC-bold-sB cCC-text-dark">4.8</p>
                <i class="iCC-Staryellow iCC-sA imCC-Background-Contain d-flex"></i>
                <i class="iCC-Staryellow iCC-sA imCC-Background-Contain d-flex"></i>
                <i class="iCC-Staryellow iCC-sA imCC-Background-Contain d-flex"></i>
                <i class="iCC-Staryellow iCC-sA imCC-Background-Contain d-flex"></i>
                <i class="iCC-Stargrey iCC-sA imCC-Background-Contain d-flex"></i>
                <p class="cCC-text-opacity-dark-50 fCC-reg-sB m-0"></p>
            </div>
        </div>
    </div>
    <!-- Chat Icon -->
    <div class="uCC-f-radius-sA cCC-bg-lightblue" style="padding: 13px;">
        <i class="iCC-DeliveryChat iCC-sD imCC-Background-Contain d-flex"></i>
    </div>
</div>