<div class="container d-flex align-items-center justify-content-between px-3 cCC-bg-white uCC-f-radius-sB uCC-shadow-f-black-10"
    style="margin-top: -28px;">
    <app-icon iconName="iCC-Home iCC-sD imCC-Background-Contain d-flex ms-2 my-3"
        textContent="المطاعم المتاحة بمنطقة الرياض" textClass="fCC-bold-sD cCC-text-dark m-0"></app-icon>
    <div class="d-flex align-items-center uCC-gap-32">
        <div class="uCC-Click" routerLink="/resturants/grid-view"
            routerLinkActive="cCC-bg-lightblue uCC-f-radius-sA p-2">
            <i
                class="{{this.activeRouter.url === '/resturants/grid-view' ?'iCC-GridViewred' :'iCC-GridViewgrey'}} iCC-sD imCC-Background-Contain d-flex"></i>
        </div>
        <a class=" uCC-Click" routerLink="/resturants/list-view"
            routerLinkActive="cCC-bg-lightblue uCC-f-radius-sA p-2 onClick()" [routerLinkActiveOptions]="{exact: true}">
            <i
                class="{{this.activeRouter.url === '/resturants/list-view' ?'iCC-Listviewred' :'iCC-Listviewgrey'}}  iCC-sD imCC-Background-Contain d-flex"></i>
        </a>
    </div>
</div>