<div class="container mb-5 d-flex flex-column align-items-center">
    <!-- header in about section -->
    <div class="d-flex align-items-center mb-5">
        <p class="fCC-reg-sA">
            لماذا تختار <span class="cCC-text-main">طلباتكم</span>
            <br>
            لحجز مطعمكم المفضل
        </p>
        <!-- icon header-->
        <app-icon iconName="iCC-Manclock d-flex iCC-sg"></app-icon>
    </div>
    <!-- blocks -->
    <div class="row gap-2 justify-content-center">
        <div class="col-5 shadow-lg p-1 uCC-f-radius-sA uCC-Border-blue">
            <app-icon iconBg="cCC-bg-blue p-1 uCC-f-radius-sA" iconName="iCC-Hand iCC-sF mx-2 uCC-f-radius-sA"
                textContent="سهولة الأستخدام" textClass="fCC-reg-sB mx-2"
                iconParagraph="صناعات المطابع ودور النشر. كان لوريم إيبسوم" paragraphClass="fCC-reg-sC mx-3">
            </app-icon>
        </div>
        <div class="col-5 p-1 shadow-lg uCC-f-radius-sA uCC-Border-yellow">
            <app-icon iconBg="cCC-bg-yellow p-1 uCC-f-radius-sA" iconName="iCC-Wireless iCC-sF mx-2 uCC-f-radius-sA"
                textContent="الحجز اونلاين" iconParagraph="صناعات المطابع ودور النشر. كان لوريم إيبسوم"
                textClass="fCC-reg-sB mx-2" paragraphClass="fCC-reg-sC mx-3">
            </app-icon>
        </div>
        <div class="col-5 bg-white p-1 shadow-lg mt-3 m-auto uCC-f-radius-sA uCC-Border-green">
            <app-icon iconBg="cCC-bg-green p-1 uCC-f-radius-sA" iconName="iCC-Clock iCC-sF mx-2 uCC-f-radius-sA"
                textContent="توفير الوقت" iconParagraph="صناعات المطابع ودور النشر. كان لوريم إيبسوم"
                textClass="fCC-reg-sB mx-2" paragraphClass="fCC-reg-sC mx-3">
            </app-icon>
        </div>
    </div>
</div>