<!-- header in about section -->
<div class="d-flex justify-content-center align-items-center mb-5">
    <p class="fCC-bold-sG m-0">
        لماذا تختار <span class="cCC-text-main">طلباتكم</span>
        <br>
        لحجز مطعمكم المفضل
    </p>
    <!-- icon header-->
    <app-icon iconName="iCC-Manclock iCC-sJ uCC-Background-Contain d-block"></app-icon>
</div>
<!-- blocks -->
<div class="d-flex flex-wrap justify-content-center align-items-center ">
  <!-- Easy To Use Card -->
    <div class="d-flex p-0 mb-3 w-100">
      <div class="d-flex w-100 shadow uCC-f-radius-sA uCC-Border-blue p-2 align-items-center">
        <div class="cCC-opacity-blue-20 uCC-f-radius-sA p-3">
          <i class="d-flex iCC-Hand iCC-sG imCC-Background-Contain"></i>
        </div>
        <div class="p-3"></div>
        <div>
          <p class="my-0 fCC-bold-sD mx-2">سهولة الأستخدام</p>
          <p class="mb-0 fCC-reg-sD mx-3 cCC-text-support2">صناعات المطابع ودور النشر. كان لوريم إيبسوم</p>
        </div>
      </div>
      <div class="p-2"></div>
      <!-- Recierve Now Card -->
      <div class="d-flex shadow uCC-f-radius-sA w-100 uCC-Border-blue p-2 align-items-center">
        <div class="cCC-opacity-yellow-20 uCC-f-radius-sA p-3">
          <i class="d-flex iCC-Wireless iCC-sG imCC-Background-Contain"></i>
        </div>
        <div class="p-3"></div>
        <div>
          <p class="mb-0 fCC-bold-sD mx-2">الحجز اونلاين</p>
          <p class="mb-0 fCC-reg-sD mx-3 cCC-text-support2">صناعات المطابع ودور النشر. كان لوريم إيبسوم</p>
        </div>
      </div>
    </div>
    <!-- Reduce Time Card -->
    <div class="d-flex shadow uCC-f-radius-sA col-6 uCC-Border-blue p-2 align-items-center">
      <div class="cCC-opacity-green-20 uCC-f-radius-sA p-3">
        <i class="d-flex iCC-Clockgreen iCC-sG imCC-Background-Contain"></i>
      </div>
      <div class="p-3"></div>
      <div>
        <p class="mb-0 fCC-bold-sD mx-2">توفير الوقت</p>
        <p class="mb-0 fCC-reg-sD mx-3 cCC-text-support2">صناعات المطابع ودور النشر. كان لوريم إيبسوم</p>
      </div>
    </div>
</div>
