<!-- header in about section -->
<div class="d-flex justify-content-center align-items-center mb-5">
    <p class="fCC-bold-sF m-0">
        لماذا تختار <span class="cCC-text-main">طلباتكم</span>
        <br>
        لحجز مطعمكم المفضل
    </p>
    <!-- icon header-->
    <app-icon iconName="iCC-Manclock uCC-Background-Contain d-block iCC-sG"></app-icon>
</div>
<!-- blocks -->
<div class="row m-0 gap-3 d-flex justify-content-center align-items-center ">
    <div class="col-5 shadow-lg uCC-f-radius-sA uCC-Border-blue py-1">
        <app-icon iconBg="cCC-bg-blue p-2 uCC-f-radius-sA mx-3 my-2 " iconName="iCC-Hand iCC-sF"
            textContent="سهولة الأستخدام" iconParagraph="صناعات المطابع ودور النشر. كان لوريم إيبسوم"
            textClass="fCC-bold-sC mx-2 " paragraphClass="fCC-reg-sD mx-3 cCC-text-support2">
        </app-icon>
    </div>
    <div class="col-5 shadow-lg uCC-f-radius-sA uCC-Border-yellow py-1">
        <app-icon iconBg="cCC-bg-yellow p-2 uCC-f-radius-sA mx-3 my-2" iconName=" iCC-Wireless iCC-sF"
            textContent="الحجز اونلاين" iconParagraph="صناعات المطابع ودور النشر. كان لوريم إيبسوم"
            textClass="fCC-bold-sC mx-2" paragraphClass="fCC-reg-sD mx-3 cCC-text-support2">
        </app-icon>
    </div>
    <div class="col-5 shadow-lg uCC-f-radius-sA uCC-Border-green py-1">
        <app-icon iconBg="cCC-bg-green p-2 uCC-f-radius-sA mx-3 my-2" iconName="iCC-Clock iCC-sF"
            textContent="توفير الوقت" iconParagraph="صناعات المطابع ودور النشر. كان لوريم إيبسوم"
            textClass="fCC-bold-sC mx-2" paragraphClass="fCC-reg-sD mx-3 cCC-text-support2">
        </app-icon>
    </div>

</div>