<section class="h-100">
    <div class="row m-0 h-100">
        <!-- Header -->
        <div class="col-lg-6 p-0 col-12  my-lg-5 my-0 py-lg-3">
            <p class="m-0 fCC-bold-sD cCC-text-support2 mb-5 me-5 pe-5 d-lg-block d-none">تواصل معنا</p>
            <!-- Contact Us Photo -->
            <!-- <ng-lottie width="600px" [options]="options" (animationCreated)="animationCreated($event)"></ng-lottie> -->
            <i class="imCC-ContactUsImage CC-Contactimg-Holder iCC-sK imCC-Background-Cover d-flex me-lg-auto m-auto~"></i>
        </div>
        <div class="col-lg-6 col-12 p-0 m-0 py-lg-5 py-0 my-lg-2">
            <div class="uCC-f-radius-sB uCC-Border-white uCC-shadow-f-white-10 p-3">
                <!-- Contact Us Form -->
                <form class="d-flex flex-column uCC-gap-24">
                    <!-- UserName -->
                    <div>
                        <label class="fCC-reg-sC cCC-text-support2 mb-2" for="userName">اسم المستخدم</label>
                        <input id="userName" type="text" placeholder="أدم" class="w-100 uCC-f-radius-sA py-2 px-3 border-0 fCC-reg-sC cCC-text-support2 m-0">
                    </div>
                    <!-- Mobile Number -->
                    <div>
                        <label class="fCC-reg-sC cCC-text-support2 mb-2" for="userName">رقم الهاتف</label>
                        <input id="userName" type="text" placeholder="+96625463872" class="w-100 uCC-f-radius-sA py-2 px-3 border-0 fCC-reg-sC cCC-text-support2 m-0">
                    </div>
                    
                    <div>
                        <!-- Message Number -->
                        <label class="fCC-reg-sC cCC-text-support2 mb-2" for="userName">الرسالة</label>
                        <textarea name="message" draggable="false"
                            class="border-0 form-control uCC-f-radius-sA fCC-reg-sC cCC-text-support2" rows="9" cols="30"></textarea>
                    </div>
                    <!-- Send Button -->
                    <div class="me-auto CC-Width-Holder">
                        <button class="CC-Width-Holder btn px-5 py-2 h-100 cCC-bg-main cCC-text-white fCC-reg-sD uCC-f-radius-sA"
                            aria-label="sned">
                            <span class="mx-3">إرسال</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>