<div class="CC-footer-grid">
    <div class="CC-logo-footer">
        <app-sticker-block></app-sticker-block>
    </div>
    <div class="CC-navigator">
        <app-footer-navigator-block></app-footer-navigator-block>
    </div>
    <div class="CC-social">
        <div class="d-flex d-inherit flex-md-column justify-content-md-center justify-content-start gap-lg-0 gap-3">
            <p class="fCC-reg-sE cCC-text-dark text-center pb-md-4 pb-0 m-0">{{'تابعنا' | translate}}</p>
            <div class="d-flex justify-content-center align-items-center">
                <i class="d-flex iCC-Instagram mx-2 iCC-sC imCC-Background-Contain uCC-Click"></i>
                <i class="d-flex iCC-Youtube iCC-sC mx-2 imCC-Background-Contain uCC-Click"></i>
                <i class="d-flex iCC-Twitter iCC-sC mx-2 imCC-Background-Contain uCC-Click"></i>
                <i class="d-flex iCC-Facebook iCC-sC mx-2 imCC-Background-Contain uCC-Click"></i>
            </div>
        </div>
    </div>
    <div class="CC-copyRight">
        <i class="d-flex d-md-none mx-auto mb-4 iCC-Lunlogo CC-Lunlogo-Holder uCC-Background-Contain mx-3"></i>
        <p class="m-0 cCC-text-support2 fCC-reg-sB m-0">جميع الحقوق محفوظة لشركة لون للبرمجة والتطوير</p>
        <i class="d-md-flex d-none iCC-Lunlogo CC-Lunlogo-Holder uCC-Background-Contain mx-md-3 mx-auto"></i>
        <p class="m-0 cCC-text-support2 fCC-reg-sB m-0">All Rights Reserved LUN Development 2021©</p>
    </div>
</div>