<!-- <div class="row p-0 mb-3 mt-2"> -->
<!-- App Sticker Block Section -->
<!-- <div class="col-2 p-0">
        <app-sticker-block></app-sticker-block>
    </div>
    <div class="col-1"></div> -->
<!-- Footer Navigators Blocks -->
<!-- <div class="col-6">
        <app-footer-navigator-block></app-footer-navigator-block>
    </div>
    <div class="col-1"></div> -->
<!-- Social Media Icons Block -->
<!-- <div class="mt-5 col-2 p-0">
        <p class="fCC-reg-sE cCC-text-dark text-center pb-4 m-0">تابعنا</p>
        <div class="d-flex justify-content-center">
            <i class="d-flex iCC-Instagram mx-2 iCC-sC imCC-Background-Contain uCC-Click"></i>
            <i class="d-flex iCC-Youtube iCC-sC mx-2 imCC-Background-Contain uCC-Click"></i>
            <i class="d-flex iCC-Twitter iCC-sC mx-2 imCC-Background-Contain uCC-Click"></i>
            <i class="d-flex iCC-Facebook iCC-sC mx-2 imCC-Background-Contain uCC-Click"></i>
        </div>
    </div>
</div> -->
<!-- Copy Right Block -->
<!-- <div class="d-flex align-items-center justify-content-center pt-3">
    <p class="m-0 cCC-text-support2 fCC-reg-sB m-0">جميع الحقوق محفوظة لشركة لون للبرمجة والتطوير</p>
    <i class="d-flex iCC-Lunlogo CC-Lunlogo-Holder uCC-Background-Contain mx-3"></i>
    <p class="m-0 cCC-text-support2 fCC-reg-sB m-0">All Rights Reserved LUN Development 2021©</p>
</div> -->

<div class="CC-footer-grid">
    <div class="CC-logo-footer">
        <app-sticker-block></app-sticker-block>
    </div>
    <div class="CC-navigator">
        <app-footer-navigator-block></app-footer-navigator-block>
    </div>
    <div class="CC-social">
        <div class="d-flex flex-column justify-content-center">
            <p class="fCC-reg-sE cCC-text-dark text-center pb-4 m-0">تابعنا</p>
            <div class="d-flex justify-content-center align-items-center">
                <i class="d-flex iCC-Instagram mx-2 iCC-sC imCC-Background-Contain uCC-Click"></i>
                <i class="d-flex iCC-Youtube iCC-sC mx-2 imCC-Background-Contain uCC-Click"></i>
                <i class="d-flex iCC-Twitter iCC-sC mx-2 imCC-Background-Contain uCC-Click"></i>
                <i class="d-flex iCC-Facebook iCC-sC mx-2 imCC-Background-Contain uCC-Click"></i>
            </div>
        </div>
    </div>
    <div class="CC-copyRight">
        <p class="m-0 cCC-text-support2 fCC-reg-sB m-0">جميع الحقوق محفوظة لشركة لون للبرمجة والتطوير</p>
        <i class="d-flex iCC-Lunlogo CC-Lunlogo-Holder uCC-Background-Contain mx-3"></i>
        <p class="m-0 cCC-text-support2 fCC-reg-sB m-0">All Rights Reserved LUN Development 2021©</p>
    </div>
</div>