<div class=" d-flex justify-content-between mb-3">
    <!-- App Sticker Block Section -->
    <app-sticker-block></app-sticker-block>
    <!-- Footer Navigators Blocks -->
    <app-footer-navigator-block listHeader='تصفح طلباتكم'></app-footer-navigator-block>
    <app-footer-navigator-block listHeader='الشركاء'></app-footer-navigator-block>
    <app-footer-navigator-block listHeader='المساعدة'></app-footer-navigator-block>
    <!-- Social Media Icons Block -->
    <div class="mt-5">
        <p class="fCC-reg-sF cCC-text-dark text-center pb-4 m-0">تابعنا</p>
        <div class="d-flex">
            <i class="d-flex iCC-Instagram mx-2 iCC-sC imCC-Background-Contain"></i>
            <i class="d-flex iCC-Youtube iCC-sC mx-2 imCC-Background-Contain"></i>
            <i class="d-flex iCC-Twitter iCC-sC mx-2 imCC-Background-Contain"></i>
            <i class="d-flex iCC-Facebook iCC-sC mx-2 imCC-Background-Contain"></i>
        </div>
    </div>
</div>
<!-- Copy Right Block -->
<div class="d-flex align-items-center justify-content-center py-3">
    <p class="m-0 cCC-text-support2 fCC-reg-sB m-0">جميع الحقوق محفوظة لشركة لون للبرمجة والتطوير</p>
    <i class="d-flex iCC-Lunlogo CC-Lunlogo-Holder uCC-Background-Contain mx-3"></i>
    <p class="m-0 cCC-text-support2 fCC-reg-sB m-0">All Rights Reserved LUN Development 2021©</p>
</div>