.CC-height-holder{
    height: 100vh;
}
.CC-scroll {
    height: 518px;
    overflow-y: auto; 
    -ms-overflow-style: none; 
    scrollbar-width: none;
    overflow-y: scroll;   
}

.CC-scroll::-webkit-scrollbar {
    display: none;
}
.CC-horizontal-divider{
    height: 1px;
    width: 100%;
    background-color: #EDEDF4;
}
.CC-style-navigators{
    color: red;
}