.CC-horizontal-divider{
    height: 1px;
    width: 100%;
    background-color: #EDEDF4;
}
.CC-sideNav-holder{
    height: 100vh;
}
.selected {
  color: red !important;
  font-weight: bold;
}
.default{
  background-color: aqua;
}