<div *ngFor="let element of listElements; let first = first ; let last= last">
	<div class="d-flex align-items-center fCC-reg-sC cCC-text-support2">
		<!-- Icon and listmenu -->
		<i class="{{element.icon}} iCC-sD imCC-Background-Contain d-flex mx-2 me-3"></i>
		<div>
			<!-- <a [routerLink]="element.routerName" routerLinkActive="fCC-bold-sB cCC-text-main" [routerLinkActiveOptions]="{exact: true}">
				<span class="uCC-Click">{{element.header}}</span>
			</a> -->
			<a [routerLink]="'resturant-profile/' + _ResturantCardService?.singleResturantInfo?.id + element.routerName" routerLinkActive="fCC-bold-sB cCC-text-main" [routerLinkActiveOptions]="{exact: true}">
				<span class="uCC-Click">{{element.header}}</span>
			</a>
		</div>
	</div>
	<!-- line divider -->
	<div class="CC-horizontal-divider my-2" *ngIf="!last"></div>
	<!-- list Elements -->
	<ng-container *ngIf="!isShow">
		<div *ngFor="let sublist of element.subList" >
			<a  class="fCC-reg-sB {{statusClass}} me-5 uCC-Click" [ngClass]="sublist.href" (click)="scrollTo(sublist.href);">
				{{sublist.title}}
			</a>
			<!-- line divider -->
			<div class="CC-horizontal-divider my-2"></div>
		</div>
	</ng-container>
</div>