.CC-horizontal-divider{
    height: 1px;
    width: 100%;
    background-color: #EDEDF4;
}
.CC-sideNav-holder{
    height: 100vh;
}
.not-active{
  color: #707070;
}
.not-active:hover{
  color: #f5504c;
}
.active
{
 color: #f5504c;
}
