<div class="my-4 position-sticky top-0">
    <app-search-bar-block></app-search-bar-block>
</div>
<!-- Resturant Menu Section -->
<section class="CC-scroll">
    <!-- Resturant Menu List -->
<div class="mb-5"> 
    <ng-container *ngFor='let resturantMenuState of _ResturantMenuService.resturantMenuStates ; let last = last'>
        <app-menu-list-block [blockMenu]="resturantMenuState" ></app-menu-list-block>
        <div class="uCC-horizontal-divider my-4" *ngIf="!last"></div>
    </ng-container>
</div>
</section>