.CC-aside-cart-holder{
    position: fixed;
    top: 71px;
    height: calc(100% - 71px);
    max-width: 400px ;
    min-width: 350px ;
    z-index: 1;
    @media screen and(max-width:1198px) {
        top: 80px;  
    }
}

.xax{
    height: calc(100vh - 515px);
    background-color: red;
}
// @media screen  and (max-width:460px) {
//     .CC-mediaquerie-holder{
//         padding: 0 24px !important;
//     }
// }