.CC-aside-menu-holder{
    position: fixed;
    top: 0;
    height: 100%;
    width: 260px;
}
.CC-aside-cart-holder{
    position: fixed;
    top: 76px;
    height: calc(100vh - 76px);
    max-width: 400px ;
    min-width: 350px ;
    z-index: 1;
    @media screen and(max-width:1198px) {
        top: 76px;  
    }
}
.xax{
    height: calc(100vh - 515px);
    background-color: red;
}
