<section class="container-fluid p-0 d-flex flex-column h-100">
  <header class=" d-flex align-items-center justify-content-center">
    <app-header-layout></app-header-layout>
  </header>
  <section class="row m-0 h-100">
    <!-- <aside class="bg-warning col-3">
      <app-side-menu-layout></app-side-menu-layout>
    </aside> -->
    <main class="bg-success col~ p-0">
      <app-master-container-layout></app-master-container-layout>
    </main>
  </section>
  <!-- <footer class="row bg-primary m-0 p-5 h-100~ mt-auto">
    <app-footer-layout></app-footer-layout>
  </footer> -->
</section>
