.CC-aside-cart-holder{
    position: fixed;
    top: 71px;
    height: calc(100% - 76px);
    max-width: 400px ;
    min-width: 350px ;
    z-index: 1;
    @media screen and(max-width:1399.8px) {
        top: 81px;  
    }
}