<div class="container-fluid d-flex align-items-center justify-content-center py-2 px-0">
  <!-- App Sticker Block Section -->
  <app-sticker-block></app-sticker-block>
    <!-- vertical divider -->
    <div class="mx-4"></div>
  <!-- App Favorate Icon Block Section-->
  <div class="iCC-sE rounded-circle bg-danger d-flex align-items-center justify-content-center">
    <app-icon [iconName]='"iCC-Searchwhite uCC-Background-Contain iCC-sB"'></app-icon>
  </div>
    <!-- vertical divider -->
    <div class="LT-vertical-divider mx-4"></div>
  <!-- App Navigator Block Section -->
  <app-navigator-block></app-navigator-block>
    <!-- vertical divider -->
    <div class="LT-vertical-divider mx-4"></div>
  <!-- App Favorate Icon Block Section-->
  <app-icon [iconName]='"iCC-Favourite uCC-Background-Contain iCC-sE"'></app-icon>
    <!-- vertical divider -->
    <div class="mx-4"></div>
  <!-- App User Profile Block Section -->
  <app-user-profile-block></app-user-profile-block>
</div>
