.LT-vertical-divider{
  width: 1px;
  height: 24px;
  background-color: #707070;
  opacity: 0.5;
}
.CC-searchHolder{
  position: absolute;
  z-index: 99999999999;
}
.CC-searchHolder{
  position: absolute;
}
.uCC-shadow-f-20:hover{
  box-shadow: none;
}
.CC-overlay-holder{
  position: fixed;
  height: 100vh;
  width: 100vw;
 overflow-y: auto;
}
.CC-Popup-Holder{
  right: 50%;
  transform: translate(50%);
}

.LT-navbar-small{
  display: flex;
  align-items: center;
  @media screen and (max-width: 991px) {
    justify-content: space-between;
    width: 100%;
  }
}