<div class="uCC-Border-gray position-sticky d-flex flex-column align-ites-start justify-content-start ps-2" style="top: 200px;">
    <!-- Filteration SideMenu -->
    <div *ngIf='activeRouter.url.includes("/resturants")'>
        <app-filter-page></app-filter-page>
    </div>
    <!-- Resturant Page Aside -->
    <div class="position-sticky" *ngIf='!activeRouter.url.includes("/resturants") && activeRouter.url !== "/contact-us" && activeRouter.url !== "/check-out" && !activeRouter.url.includes("/userProfile")' style="top: 200px;">
        <app-resturant-aside-page></app-resturant-aside-page>
    </div>
    <!-- User Profile Aside -->
    <div class="py-4" *ngIf='activeRouter.url.includes("/userProfile")'>
        <app-user-aside-page></app-user-aside-page>
    </div>
</div>
