<div class="uCC-Border-gray position-sticky d-flex flex-column justify-content-start px-2" style="top: 200px;">
    <!-- Filteration SideMenu -->
    <div *ngIf='this.activeRouter.url == "/resturants"'>
        <app-filter-page></app-filter-page>
    </div>
    <!-- Resturant Page Aside -->
    <div class="position-sticky" *ngIf='activeRouter.url !== "/resturants" && !activeRouter.url.includes("/userProfile")' style="top: 200px;">
        <app-resturant-aside-page></app-resturant-aside-page>
    </div>
    <!-- User Profile Aside -->
    <div class="py-4" *ngIf='activeRouter.url.includes("/userProfile")'>
        <app-user-aside-page></app-user-aside-page>
    </div>
</div>
