<div class="d-flex align-items-center justify-content-center" style=" height: 100vh;">
    <div class="container px-0 cCC-bg-support2~ d-flex">
        <div>
            <video class="uCC-l-radius-sG" width="536px" height="641px" autoplay loop>
                <source src="../../../../assets/videos/Loginvideo.mp4" type="video/mp4">
            </video>
        </div>
        <!-- Login [Holder] -->
        <div class="cCC-bg-white uCC-l-radius-sH d-flex flex-column align-items-center justify-content-center gap-4 px-4 two~"
            style="width: 536px; height: 641px;">
            <div>
                <p class="m-0 fCC-reg-sG cCC-text-dark me-5">اهلا بك</p>
                <i class="imCC-LogoAR uCC-Click d-flex imCC-Background-Contain CC-Logo-Holder mb-3"></i>
            </div>
            <div class="d-flex mb-5~">
                <p class="fCC-reg-sG cCC-text-dark m-0 uCC-Click">تسجيل الدخول</p>
                <div class="mx-4"></div>
                <p class="fCC-reg-sG cCC-text-opacity-dark-50 m-0 uCC-Click">تسجيل حساب جديد</p>
            </div>
            <div class="w-75">
                <app-login-block></app-login-block>
            </div>
            <!-- Buttons-->
            <div class="w-75 mt-3">
                <button type="button"
                    class=" d-flex justify-content-center border-0 align-items-center form-control cCC-text-support2 uCC-f-radius-sA p-2 ms-4">
                    <span class="fCC-bold-sA">استرجاع كلمة المرور؟</span>
                </button>
                <button type="button"
                    class="text-center form-control border-0 cCC-bg-main uCC-f-radius-sA cCC-text-white p-2 ms-4 mt-2">
                    <span class="fCC-bold-sB">تسجيل الدخول</span>
                </button>
            </div>
        </div>
    </div>
</div>