<div
class="d-flex flex-column justify-content-center align-items-center uCC-f-radius-sA cCC-opacity-support1-20 CC-resturantsimgs-Holder">
<!-- QR code -->
<i class="imCC-Qrcode d-flex imCC-Background-Contain CC-Qr-Holder mt-3 uCC-Click"></i>
<!-- ShareMenu Block -->
<div
    class="d-flex justify-content-center align-items-center uCC-l-radius-sE cCC-opacity-support1-50 mt-3 w-100 px-3 py-1">
    <i class="iCC-Share iCC-sK imCC-Background-Contain d-flex d-flex"></i>
    <!-- divider -->
    <P class="fCC-bold-sH cCC-text-support2 pe-1 m-0 uCC-Click">مشاركة المنيو</P>
</div>
</div>