<div class="CC-Grid-Holder cCC-opacity-main-10 uCC-f-radius-sB mt-3 p-3 ">
    <!-- Image Holder -->
    <div class="CC-image-Holder">
        <i
            class="imCC-Resturantimg2 CC-resturantimg-Holder d-flex imCC-Background-Cover CC-resturantsimgs-Holder uCC-Click">
        </i>
    </div>
    <!-- Text Holder -->
        <div class="CC-text-Holder">
            <p class="m-0 fCC-bold-sB cCC-text-dark mb-2">مطعم خيال</p>
            <!-- Review Holder -->
            <div class="CC-desc-Holder~">
                <p class="m-0 fCC-reg-sC cCC-text-support2">
                    هناك حقيقة مثبتة منذ زمن طويل وه أن المحتوى المقروء لصفحة ما سيلهي القارئ عن التركيز على الشكل الخارجي
                    للنص أو شكل توضع الفقرات في الصفحة 
                    <span class="cCC-text-main uCC-Click CC-hover-Holder">أطلب الأن</span>
                </p>
            </div>
        </div>
        <div class="CC-menu-Holder cCC-bg-support1 uCC-f-radius-sA uCC-shadow-f-white-10 uCC-innershadow-f-black-16 d-flex align-items-center justify-content-center" style="width:48px ; height:48px">
            <i class="iCC-Menunotification iCC-sD imCC-Background-Contain d-flex"></i>
        </div>
</div>