<div class="CC-Grid-Holder cCC-opacity-main-10 uCC-f-radius-sB mt-3 p-3 ">
    <!-- Image Holder -->
    <div class="CC-image-Holder d-flex align-items-center justify-content-center">
        <i alt="" style="background-image: url(../../../../assets/icons/notificationIcon.png);"
            class="imCC-Resturantimg2 CC-resturantimg-Holder d-flex imCC-Background-Cover CC-resturantsimgs-Holder uCC-Click"></i>
    </div>
    <!-- Text Holder -->
        <div class="CC-text-Holder">
            <p class="m-0 fCC-bold-sB cCC-text-dark mb-2">{{notificationDetails.title}}</p>
            <!-- Review Holder -->
            <div class="CC-desc-Holder~">
                <p class="m-0 fCC-reg-sC cCC-text-support2">
                    {{notificationDetails.body}}
                </p>
                <span class="fCC-bold-sA cCC-text-main uCC-Click CC-hover-Holder" dir="ltr">{{notificationDetails.date}}</span>
            </div>
        </div>
        <div class="CC-menu-Holder cCC-bg-support1 uCC-f-radius-sA uCC-shadow-f-white-10 uCC-innershadow-f-black-16 d-flex align-items-center justify-content-center" style="width:48px ; height:48px">
            <i class="iCC-Menunotification iCC-sD imCC-Background-Contain d-flex"></i>
        </div>
</div>