<section>
    <app-icon iconName="iCC-Staryellow iCC-sB imCC-Background-Contain d-flex ms-2" textContent="تقييم العملاء"
        textClass="fCC-bold-sB cCC-text-dark">
    </app-icon>
    <div class="d-flex align-items-center uCC-gap-8 me-md-4 me-0 mt-2">
        <p class="m-0 fCC-bold-sB cCC-text-dark">4.8</p>
        <i class="iCC-Staryellow iCC-sB imCC-Background-Contain d-flex"></i>
        <i class="iCC-Staryellow iCC-sB imCC-Background-Contain d-flex"></i>
        <i class="iCC-Staryellow iCC-sB imCC-Background-Contain d-flex"></i>
        <i class="iCC-Staryellow iCC-sB imCC-Background-Contain d-flex"></i>
        <i class="iCC-Staryellow iCC-sB imCC-Background-Contain d-flex"></i>
        <p class="m-0 fCC-reg-sC cCC-text-opacity-dark-50">(بناء علي 365 عميل)</p>
    </div>
    <div class="CC-Grid-Holder cCC-bg-white uCC-f-radius-sB mt-3 p-3">
        <div class="CC-image-Holder">
            <i class="imCC-Userprofile CC-Userprofile-Holder uCC-f-radius-s50 d-flex imCC-Background-Cover uCC-f-radius-sB CC-resturantsimgs-Holder uCC-Click"></i>
        </div>
        <div class="CC-text-Holder">
           <p class="m-0 fCC-bold-sB cCC-text-dark">محمد أحمد محمد</p>
           <div class="d-flex align-items-center uCC-gap-8">
               <i class="iCC-Staryellow iCC-sK imCC-Background-Contain d-flex"></i>
               <i class="iCC-Staryellow iCC-sK imCC-Background-Contain d-flex"></i>
               <i class="iCC-Staryellow iCC-sK imCC-Background-Contain d-flex"></i>
               <i class="iCC-Staryellow iCC-sK imCC-Background-Contain d-flex"></i>
               <i class="iCC-Staryellow iCC-sK imCC-Background-Contain d-flex"></i>
               <p class="cCC-text-opacity-dark-50 fCC-reg-sB m-0">20 October 2021</p>
            </div>
        </div>
        <div class="CC-desc-Holder">
            <p class="m-0 fCC-reg-sC cCC-text-support2 pe-2">
                هناك حقيقة مثبتة منذ زمن طويل وه أن المحتوى المقروء لصفحة ما سيلهي القارئ عن التركيز على الشكل الخارجي للنص أو شكل
                توضع الفقرات في الصفحة
            </p>
        </div>
    </div>
</section>