.CC-Userprofile-Holder{
    width: 40px;
    height: 40px;
}
.CC-Grid-Holder{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    .CC-image-Holder{
        
    }
}