<section>
    <!-- Header -->
    <app-icon iconName="iCC-Staryellow iCC-sB imCC-Background-Contain d-flex ms-2" textContent="تقييم العملاء"
        textClass="fCC-bold-sB cCC-text-dark">
    </app-icon>
    <!-- Total Reviews -->
    <div class="d-flex align-items-center uCC-gap-8 me-md-4 me-0 mt-2">
        <p class="m-0 fCC-bold-sB cCC-text-dark">4.8</p>
        <i class="iCC-Staryellow iCC-sB imCC-Background-Contain d-flex"></i>
        <i class="iCC-Staryellow iCC-sB imCC-Background-Contain d-flex"></i>
        <i class="iCC-Staryellow iCC-sB imCC-Background-Contain d-flex"></i>
        <i class="iCC-Staryellow iCC-sB imCC-Background-Contain d-flex"></i>
        <i class="iCC-Staryellow iCC-sB imCC-Background-Contain d-flex"></i>
        <p class="m-0 fCC-reg-sC cCC-text-opacity-dark-50">(بناء علي 365 عميل)</p>
    </div>
    <!-- Card Review Block -->
    <div class="mb-3" *ngFor="let reviewCard of _ReviewsListService.reviewsList">
        <app-card-review-block [review] = "reviewCard"></app-card-review-block>
    </div>
</section>