<div>
    <!-- Verify Code -->
    <div dir="ltr" class="w-100 mb-5 d-flex justify-content-center">
        <ng-otp-input #ngOtpInput (onInputChange)="onOtpChange($event)" [config]="config"></ng-otp-input>
    </div>
    <div dir="ltr" class="progress-bar mb-3 mx-auto">
        <span class="bar">
            <span class="progress"></span>
        </span>
    </div>
    <div class="mb-5">
        <p class="fCC-bold-sD cCC-text-dark m-0 mb-2"> {{'رمز التأكيد' | translate}}</p>
        <p class="m-0 fCC-reg-sC cCC-text-support2 col-8">
            {{'سوف يزسل لك 4 أرقام لتأكيد رقم الهاتف' | translate}}
        </p>
    </div>
</div>