<div>
    <!-- Verify Code -->
    <!-- <div class="mb-5 d-flex align-items-center">
        <div>
            <input type="text" placeholder="2"
                name
                class="border-0 text-center fCC-reg-sGcCC-text-dark m-0 uCC-f-radius-sA cCC-bg-white shadow"
                style="height: 76px; width: 76px;">
        </div>
        <div class="mx-2"></div>
        <div>
            <input type="text" placeholder="5"
                class="border-0 text-center fCC-reg-sGcCC-text-dark m-0 uCC-f-radius-sA cCC-bg-white shadow"
                style="height: 76px; width: 76px;">
        </div>
        <div class="mx-2"></div>
        <div>
            <input type="text" placeholder="3"
                class="border-0 text-center fCC-reg-sGcCC-text-dark m-0 uCC-f-radius-sA cCC-bg-white shadow"
                style="height: 76px; width: 76px;">
        </div>
        <div class="mx-2"></div>
        <div>
            <input type="text" placeholder="9"
                class="border-0 text-center fCC-reg-sGcCC-text-dark m-0 uCC-f-radius-sA cCC-bg-white shadow"
                style="height: 76px; width: 76px;">
        </div>
    </div> -->
    <div dir="ltr" class="w-100 mb-5 d-flex justify-content-center">
        <ng-otp-input #ngOtpInput (onInputChange)="onOtpChange($event)" [config]="config"></ng-otp-input>
    </div>
    <div class="mb-5">
        <p class="fCC-bold-sD cCC-text-dark m-0 mb-2"> رمز التأكيد</p>
        <p class="m-0 fCC-reg-sC cCC-text-support2 uCC-line-Hight-B col-8">
            من خلال إنشاء حساب أنت توافق علي سياسة الخصوصية وشروط الإستخدام.
        </p>
    </div>
    <!-- LOGIN Button -->
    <!-- <button [disabled]="verificationNumber.invalid" type="submit"
        class="text-center form-control border-0 cCC-bg-main uCC-f-radius-sA cCC-text-white p-2 ms-4 mt-2">
        <span class="fCC-bold-sB">تأكيد الكود</span>
    </button> -->
</div>