*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    transition: all 1s ease-in-out;
}
body{
    direction: rtl;
}
a{
    color: unset;
    text-decoration: none;
}
a:hover{
  color: #f5504c;
}
button:hover
{
  color: unset !important;
}
button:focus
{
  box-shadow:none !important;
  background-color: unset !important;
  color: unset !important;
}
input:focus-visible
{
    outline: none !important;
}
textarea {
  resize: none;
}
.form-control:focus {
  color: #707070;
  background-color: #fff;
  border-color: #707070;
  outline: 0;
  box-shadow: none;
}
select:focus-visible {
  outline: 0;
}
html, body { height: 100%; }
