*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    direction: rtl;
    background-color: #F2F5F7;
    // ::-webkit-scrollbar {
      // display: none;
  // }
}

a{
    color: unset;
    text-decoration: none;
}
a:hover{
  color: #f5504c;
}
button:hover
{
  color: unset !important;
}
button:focus
{
  box-shadow:none !important;
}
input:focus-visible
{
    outline: none !important;
}
textarea {
  resize: none;
}
.form-control:focus {
  color: #707070;
  background-color: #fff;
  border-color: #707070;
  outline: 0;
  box-shadow: none;
}
select:focus-visible {
  outline: 0;
}
input[data-autocompleted] {
  background-color: transparent !important;
}
input:-webkit-autofill,
input:-webkit-autofill:focus {
    transition: background-color 600000s 0s, color 600000s 0s;
}
// when scroll intoview plus 100px
html [id], body [id] {
  scroll-margin: 100px !important;
}

html, body { height: 100%; }
body { margin: 0;}
