<!-- FIRST FILTER -->
<div class="form-group rounded h-100 uCC-Border-grey p-3">
    <!-- FILTERS HEADER & ICON -->
    <div class="cCC-bg-main cCC-text-white w-100 uCC-f-radius-sA py-1">
      <app-icon [textContent]='"نوع المطبخ"' textClass="fCC-bold-sA" [iconName]='"iCC-Heat iCC-sB imCC-Background-Contain mx-3 my-2"'></app-icon>
    </div>
    <!-- FILTERS NAME-->
    <div *ngFor='let filter of _FilterService.options' class="py-2 me-2 LT-horizontal-divider">
      <app-filter-selection-block [items]='filter'></app-filter-selection-block>
    </div>
    <div class="cCC-bg-main cCC-text-white w-100 uCC-f-radius-sA mt-3 py-1">
      <app-icon [textContent]='"حدد البحث"' textClass="fCC-bold-sA" [iconName]='"iCC-Filter iCC-sB imCC-Background-Contain mx-3 my-2"'></app-icon>
    </div>
    <!-- FILTERS NAME-->
    <div *ngFor='let filter of _FilterService.optionsTwo' class="py-2 me-2 LT-horizontal-divider">
      <app-filter-selection-block [items]='filter'></app-filter-selection-block>
    </div>
</div>