<div class="d-flex flex-column uCC-f-radius-sB cCC-opacity-support1-20 uCC-f-radius-sA pt-1 position-relative">
    <div class="d-flex align-items-center justify-content-center">
        <!-- User Feedback Image -->
        <div class="shandow-lg bg-white rounded-pill CC-user-image-Holder">
            <i class="d-flex {{userFeedbackimg}} iCC-sI imCC-Background-Contain"></i>
        </div>
        <div class="mx-5">
            <!-- User Feedback Name -->
            <p class="mb-0 mt-2 fCC-reg-sF cCC-text-dark me-3">{{userFeedbackName}}</p>
            <!-- Date of FeedBack -->
            <p class="fCC-reg-sA cCC-text-support2 mx-3">12/2/2020الأربعاء</p>
        </div>
        <!-- Rate [5 Stars] -->
        <div class="d-flex">
            <i class="d-flex iCC-Star iCC-sA imCC-Background-Contain mx-2"></i>
            <i class="d-flex iCC-Star iCC-sA imCC-Background-Contain mx-2"></i>
            <i class="d-flex iCC-Star iCC-sA imCC-Background-Contain mx-2"></i>
            <i class="d-flex iCC-Star iCC-sA imCC-Background-Contain mx-2"></i>
            <i class="d-flex iCC-Star iCC-sA imCC-Background-Contain mx-2"></i>
        </div>
        <div class="mx-3"></div>
    </div>
    <div>
        <!-- FeedBack Content -->
        <p class="m-0 fCC-reg-sB cCC-text-support2 uCC-Lineheight-A uCC-line-Hight-B pb-3 pe-4">
            وريم إيبسوم(Lorem Ipsum) هو ببساطة
            <br>
            ص شكلي (بمعنى أن الغاية هي الشكل وليس
            <br>
            المحتوى) ويُستخدم في صناعات المطابع ودور النشر.
            <br>
            كان لوريم إيبسوم
        </p>
    </div>
</div>