<div class="d-flex flex-column uCC-f-radius-sB cCC-bg-white uCC-f-radius-sA pt-1 position-relative">
    <!-- User Feedback Image -->
    <div class="position-relative">
        <i class="d-flex {{userFeedbackList.image}} uCC-shadow-f-black-25 uCC-f-radius-s50 iCC-sI imCC-Background-Contain CC-user-image"></i>
    </div>
    <div class="d-flex align-items-center justify-content-lg-center justify-content-start">
        <div class="mx-lg-5 ms-0 me-5 ">
            <!-- User Feedback Name -->
            <p class="mb-0 mt-2 fCC-reg-sEcCC-text-dark me-5">{{userFeedbackList.name}}</p>
            <!-- Date of FeedBack -->
            <p class="fCC-reg-sA cCC-text-support2 mx-4">{{userFeedbackList.date}}</p>
        </div>
        <!-- Rate [5 Stars] -->
        <div class="d-flex gap-lg-2 gap-1">
            <i class="d-flex iCC-Star iCC-sA imCC-Background-Contain"></i>
            <i class="d-flex iCC-Star iCC-sA imCC-Background-Contain"></i>
            <i class="d-flex iCC-Star iCC-sA imCC-Background-Contain"></i>
            <i class="d-flex iCC-Star iCC-sA imCC-Background-Contain"></i>
            <i class="d-flex iCC-Star iCC-sA imCC-Background-Contain"></i>
        </div>
        <div class="mx-3"></div>
    </div>
    <div>
        <!-- FeedBack Content -->
        <p class="m-0 fCC-reg-sB cCC-text-support2 uCC-Lineheight-A uCC-line-Hight-B pb-3 pe-4 ps-2">
            وريم إيبسوم(Lorem Ipsum) هو ببساطة
            ص شكلي (بمعنى أن الغاية هي الشكل وليس
            المحتوى) ويُستخدم في صناعات المطابع ودور النشر.
            كان لوريم إيبسوم
        </p>
    </div>
</div>
