<div class="container col-6 uCC-f-radius-sB uCC-Border-white uCC-shadow-f-white-10 py-4">
    <!-- FirstName Information -->
    <div>
        <label for="firstname" class="fCC-reg-sC cCC-text-support2 mb-2">الاسم الاول</label>
        <div class="d-flex p-1 align-items-center uCC-f-radius-sA cCC-bg-white">
            <!-- Profile icon -->
            <app-icon iconName="iCC-Profile d-flex iCC-sB me-2 ms-1"></app-icon>
            <!-- FirstName -->
            <input type="text" placeholder="{{_AccountService.userName}}" class="py-2 border-0 fCC-reg-sC cCC-text-support2 m-0">
        </div>
    </div>
    <!-- Email Adress Information -->
    <div class="my-4">
        <label for="Email" class="fCC-reg-sC cCC-text-support2 mb-2">البريد الألكتروني</label>
        <div class="d-flex w-100 p-1 align-items-center uCC-f-radius-sA cCC-bg-white">
            <!-- Email icon -->
            <app-icon iconName="iCC-Email d-flex iCC-sB me-2 ms-1"></app-icon>
            <!-- Email-->
            <input type="email" placeholder="username @gmail.com" class="py-2 border-0 w-100 fCC-reg-sC cCC-text-support2 m-0">
        </div>
    </div>
    <!-- Birthdate Information -->
    <div class="mt-4 mb-5">
        <label for="firstname" class="fCC-reg-sC cCC-text-support2 mb-2">تاريخ الميلاد</label>
        <div class="d-flex w-100 p-1 align-items-center uCC-f-radius-sA cCC-bg-white">
            <!-- Clender icon-->
            <app-icon iconName="iCC-Calender d-flex iCC-sB me-2 ms-1"></app-icon>
            <!-- Birthdate -->
            <input type="text" placeholder="25/7/1999" class="py-2 border-0 w-100 fCC-reg-sC cCC-text-support2 m-0">
        </div>
    </div>
    <div>
        <!-- Update Button-->
        <button class="btn w-100 py-2 cCC-bg-main cCC-text-white fCC-reg-sD uCC-f-radius-sA">تحديث</button>
    </div>
</div>
