<div class="row justify-content-center align-items-center pt-5">
    <!-- FirstName Information -->
    <div class="col-5 mt-5">
        <label for="firstname" class="fCC-reg-sC cCC-text-support2 mb-2">الاسم الاول</label>
        <div class="d-flex w-100 p-1 align-items-center uCC-f-radius-sA uCC-Border-sB-Main cCC-bg-white">
            <!-- Profile icon -->
            <app-icon iconName="iCC-Profile d-flex iCC-sB me-2 ms-1"></app-icon>
            <!-- FirstName -->
            <p class="py-2 border-0 w-100 fCC-reg-sC cCC-text-support2 m-0">أدم</p>
        </div>
    </div>
    <!-- LastName -->
    <div class="col-5 mt-5">
        <label for="lastName" class="fCC-reg-sC cCC-text-support2 mb-2">أسم العائلة</label>
        <div class="d-flex w-100 p-1 align-items-center uCC-f-radius-sA uCC-Border-sB-Main cCC-bg-white">
            <!-- Profile icon -->
            <app-icon iconName="iCC-Profile d-flex iCC-sB me-2 ms-1"></app-icon>
            <!-- LastName -->
            <p class="py-2 border-0 w-100 fCC-reg-sC cCC-text-support2 m-0">عبد الخالق</p>
        </div>
    </div>  
    <!-- Email Adress Information -->
    <div class="col-5 my-5">
        <label for="Email" class="fCC-reg-sC cCC-text-support2 mb-2">البريد الألكتروني</label>
        <div class="d-flex w-100 p-1 align-items-center uCC-f-radius-sA uCC-Border-sB-Main cCC-bg-white">
            <!-- Email icon -->
            <app-icon iconName="iCC-Email d-flex iCC-sB me-2 ms-1"></app-icon>
            <!-- Email-->
            <p class="py-2 border-0 w-100 fCC-reg-sC cCC-text-support2 m-0">username @gmail.com</p>
        </div>
    </div>
    <!-- Birthdate Information -->
    <div class="col-5 my-5">
        <label for="firstname" class="fCC-reg-sC cCC-text-support2 mb-2">تاريخ الميلاد</label>
        <div class="d-flex w-100 p-1 align-items-center uCC-f-radius-sA uCC-Border-sB-Main cCC-bg-white">
            <!-- Clender icon-->
            <app-icon iconName="iCC-Calender d-flex iCC-sB me-2 ms-1"></app-icon>
            <!-- Birthdate -->
            <p class="py-2 border-0 w-100 fCC-reg-sC cCC-text-support2 m-0">25/7/1999</p>
        </div>
    </div>
    <div class="col-5"></div>
    <div class="col-5">
        <div class="d-flex align-items-center">
            <!-- Update Button-->
            <button class="btn w-50 py-2 cCC-bg-main cCC-text-white fCC-reg-sD uCC-l-radius-sF">تحديث</button>
            <!-- Cancel Button -->
            <button class="btn py-2 w-50 cCC-bg-white cCC-text-dark fCC-reg-sD uCC-Border-sB-Main uCC-l-radius-sA">إلغاء</button>
        </div>
    </div>
</div>
