<div class="py-1 mt-5 d-flex justify-content-between align-items-center">
    <div class="col-6">
        <!-- Mobile Image -->
        <i class="imCC-Mobile d-flex uCC-Background-Cover CC-mobile-Holder"></i>
    </div>
    <div class="col-6 pt-4">
        <!-- Section Header -->
        <p class="fCC-bold-sD  pb-3 m-0">طلبك ديماً منتظرك .. مع تطبيق طلباتكم</p>
        <!-- Section Description -->
        <p class="pe-1 fCC-reg-sD cCC-text-grey uCC-line-Hight-B m-0">
            هو ببساطة(Lorem Ipsum) وريم إيبسوم
        </p>
        <p class="pe-1 fCC-reg-sD cCC-text-grey uCC-line-Hight-B m-0">
            نص شكلي (بمعنى أن الغاية هي الشكل وليس المحتوى)
        </p>
        <p class="pe-1 fCC-reg-sD cCC-text-grey uCC-line-Hight-B m-0 mb-4">
            ويُستخدم في صناعات المطابع ودور النشر. كان لوريم إيبسوم
        </p>
        <div class="d-flex">
            <!-- divider -->
            <div class="mx-2"></div>
            <div>
                <p class="fCC-reg-sD cCC-text-main ">استخدم تطبيق طلباتكم الان تواصلك اسرع</p>
                <!-- Logo -->
                <div class="d-flex">
                    <!-- Logo AppStore -->
                    <i class="d-flex imCC-Logoappstore imCC-sA imCC-Background-Contain uCC-Click"></i>
                    <!-- divider -->
                    <div class="mx-2"></div>
                    <!-- Logo PlayStore -->
                    <i class="d-flex imCC-Logoplaystore imCC-sA imCC-Background-Contain uCC-Click"></i>
                </div>
            </div>
            <!-- divider -->
            <div class="mx-3"></div>
            <!-- Qr Code Image -->
            <i class="d-flex imCC-Scancode imCC-sB imCC-Background-Contain"></i>
        </div>
    </div>
</div>