<section class="py-1 mx-lg-0 mx-auto mt-5 d-lg-flex justify-content-between align-items-center">
    <div class="col-lg-6 col-12 " style="z-index: 10;">
        <!-- Mobile Image -->
        <i class="imCC-Mobile mx-lg-0 mx-auto d-flex imCC-Background-Contain CC-mobile-Holder"></i>
    </div>
    <div class="col-lg-6 col-12 pt-4 pe-lg-0 pe-4 ps-lg-0 ps-2 mx-lg-0 mx-auto pb-lg-0 pb-4" style="z-index: 10;">
        <!-- Section Header -->
        <p class="fCC-bold-sD pb-3 m-0">{{'طلبك ديماً منتظرك .. مع تطبيق طلباتكم' | translate}}</p>
        <!-- Section Description -->
        <p class="pe-1 fCC-reg-sD cCC-text-grey uCC-line-Hight-B m-0">
            {{'هو ببساطة(Lorem Ipsum) وريم إيبسوم' | translate}}
        </p>
        <p class="pe-1 fCC-reg-sD cCC-text-grey uCC-line-Hight-B m-0">
            {{'نص شكلي (بمعنى أن الغاية هي الشكل وليس المحتوى) ويُستخدم في' | translate}}
        </p>
        <p class="pe-1 fCC-reg-sD cCC-text-grey uCC-line-Hight-B m-0 mb-4">
            {{'صناعات المطابع ودور النشر. كان لوريم إيبسوم' | translate}}
        </p>
        <div class="d-flex align-items-center">
            <!-- divider -->
            <div class="mx-2"></div>
            <div>
                <p class="fCC-reg-sD cCC-text-main ">{{'استخدم تطبيق طلباتكم الان تواصلك اسرع' | translate}}</p>
                <!-- Logo -->
                <div class="d-flex">
                    <!-- Logo AppStore -->
                    <i class="d-flex imCC-Logoappstore imCC-sA imCC-Background-Contain uCC-Click"></i>
                    <!-- divider -->
                    <div class="mx-2"></div>
                    <!-- Logo PlayStore -->
                    <i class="d-flex imCC-Logoplaystore imCC-sA imCC-Background-Contain uCC-Click"></i>
                </div>
            </div>
            <!-- divider -->
            <div class="mx-lg-3 mx-2"></div>
            <!-- Qr Code Image -->
            <div class="d-flex align-items-center justify-content-center cCC-bg-white p-lg-2 p-0 uCC-f-radius-sA">
              <ng-lottie class="CC-Lottie"  [options]="options" (animationCreated)="animationCreated($event)"></ng-lottie>
            </div>
        </div>
    </div>
</section>