.has-danger{
    border: 1px solid red;
}
.has-success{
    border: 1px solid green;
}
.CC-alert{
    color: red;
}
.CC-Btn{
    transition: 0.2s all;
}
.CC-Btn:focus{
    background-color: #f5504c !important;
    color:#fff !important;
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24) !important;
    transform: scale(0.98) !important;
}
.CC-Btn:hover{
    color:#fff !important;
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24) !important;
    transform: scale(0.98) !important;
}