<form #phoneForgetPasswordForm='ngForm' (ngSubmit)="forgetPasswordSubmit(phoneForgetPasswordForm.value)">
    <!-- Div Holder-->
    <label for="phone" class="cCC-text-support2 fCC-reg-sB mb-2">{{'رقم الهاتف' | translate}}</label>
    <div dir="rtl" [ngClass]="{'has-danger': phone.invalid &&(phone.dirty),
        'has-success':phone.valid && (phone.dirty) }"
        class=" d-flex uCC-shadow-f-white-10 px-3 form-input align-items-center uCC-f-radius-sA cCC-bg-white mb-2">
        <!-- Mobile Input-->
        <input pattern="^(5)([0-9]{8})$" placeholder="5*******" #phone="ngModel" type="text" ngModel dir="ltr" autocomplete="off" (keypress)="this._AuthService.numberOnly($event)"
        class="form-control border-0 fCC-reg-sB py-3 cCC-text-support2 m-0 p-0" name="phone" required
        minlength="13" maxlength="13">
        <p class="m-0 fCC-reg-sB py-3 pe-1 cCC-text-support2" readonly dir="ltr">+966</p>
        <!-- Mobile icon -->
        <app-icon iconName="iCC-Mobilelogin d-flex iCC-sB {{'ms-2' | translate}}"></app-icon>
    </div>
    <!-- Errors Div -->
    <div *ngIf="phone.errors && (phone.dirty)" class="mb-5 {{'me-2' | translate}}">
        <p *ngIf="phone.errors?.required" class="CC-alert fCC-bold-sA">{{'يجب إدخال رقم الهاتف' | translate}}</p>
        <!-- <p *ngIf="phone.errors?.minlength" class="CC-alert fCC-bold-sA">{{'رقم الهاتف غير صحيح' | translate}}</p> -->
        <p *ngIf="phone.errors?.pattern" class="CC-alert fCC-bold-sA">{{'رقم الهاتف يجب أن يبدأ برقم 5 ولا يتجاوز 9 ارقام' | translate}}</p>
    </div>
    <!-- Text -->
    <div class="mb-5 pb-5">
        <p class="m-0 fCC-reg-sC cCC-text-support2 col-6">
            {{'يسعدنا لأنك سوف تصبح فردا منا' | translate}}
        </p>
    </div>
    <!-- Send OTP Button -->
    <button [disabled]="phoneForgetPasswordForm.invalid" type="submit"
        class="CC-Btn text-center form-control border-0 cCC-bg-main uCC-f-radius-sA cCC-text-white p-2 {{'ms-4' | translate}} mt-2">
        <span class="fCC-bold-sB">{{'إرسال رمز التأكيد' | translate}}</span>
    </button>
</form>