<div class="d-flex justify-content-between LT-horizontal-divider py-3 ">
    <div class="d-flex align-items-center">
        <!-- Resturant Image -->
        <div class="uCC-f-radius-sD uCC-Border-grey">
            <i class="{{listState.image}} d-flex imCC-Background-Cover CC-resturantsimgs-Holder uCC-Click"></i>
        </div>
        <div class="me-4">
            <!-- Resturant-title -->
            <a routerLink="resturantMainPage"><p class="fCC-bold-sD cCC-text-dark m-0 uCC-Click">{{listState.title}}</p></a>
            <!-- Resturant Description -->
            <p class="fCC-reg-sC cCC-text-support2 mb-2 uCC-Click">{{listState.description}}</p>
            <!-- Icons -->
            <div class="d-flex justify-content-between">
                <app-icon iconName="iCC-Clockblue iCC-sB imCC-Background-Contain d-flex mx-1" textContent="90 دقيقة"
                    textClass="fCC-reg-sB cCC-text-support2"></app-icon>
                <div class="mx-2"></div>
                <app-icon iconName="iCC-Table iCC-sB imCC-Background-Contain d-flex mx-1" textContent="30 طاولة"
                    textClass="fCC-reg-sB cCC-text-support2"></app-icon>
                <div class="mx-2"></div>
                <app-icon iconName="iCC-Star iCC-sB imCC-Background-Contain d-flex mx-1" textContent="4.8"
                    textClass="fCC-reg-sB cCC-text-support2"></app-icon>
            </div>
        </div>
    </div>
    <div class="d-flex align-items-start">
        <!-- Heart Icon -->
        <div class="cCC-opacity-support1-30 uCC-f-radius-sD p-2 uCC-Click">
            <i class="d-flex iCC-Heartempty iCC-sB imCC-Background-Contain"></i>
        </div>
        <!-- QrCode Block -->
        <div class="mx-2"></div>
      <app-qrcode-block></app-qrcode-block>
    </div>
</div>