<div class="d-flex justify-content-between cCC-bg-white uCC-f-radius-sB p-3~ ">
    <div class="d-f~lex flex-co~lumn align-items~-center CC-resturant-holder-grid" routerLink="/resturant-profile/{{listState.id}}">
        <!-- Resturant Image -->
        <div class="CC-resturant-image" >
            <i class="{{listState.image}} d-flex imCC-Background-Cover uCC-f-radius-sB CC-resturantsimgs-Holder uCC-Click"></i>
        </div>
        <div class="me-lg-4~ me-2~ CC-resturant-title">
            <!-- Resturant-title -->
            <div>
                <p class="fCC-bold-sD cCC-text-dark m-0 uCC-Click">{{listState.title}}</p>
            </div>
            <!-- Resturant Description -->
            <div class="d-flex uCC-gap-8 mt-2 mb-3~">
                <button class="border-0 fCC-reg-sA cCC-text-dark py-1 px-3 cCC-bg-support1 uCC-f-radius-s5"
                    aria-label="type1">المشويات</button>
                <button class="border-0 fCC-reg-sA cCC-text-dark py-1 px-3 cCC-bg-support1 uCC-f-radius-s5"
                    aria-label="type2">الشرقي</button>
            </div>
        </div>
        <!-- Icons -->
        <div class="d-f~lex justify-content-~center CC-resturant-tags">
            <app-icon iconName="iCC-Newclock iCC-sD imCC-Background-Contain d-flex gap-3 "
                textContent="{{listState.time}}دقيقة" textClass="fCC-reg-sB cCC-text-support2"></app-icon>
            <app-icon iconName="iCC-Newtables iCC-sD imCC-Background-Contain d-flex gap-3 "
                textContent="{{listState.tables}} طاولة" textClass="fCC-reg-sB cCC-text-support2"></app-icon>
            <app-icon iconName="iCC-Newstars iCC-sD imCC-Background-Contain d-flex gap-3"
                textContent="{{listState.rate}}" textClass="fCC-reg-sB cCC-text-support2"></app-icon>
        </div>
        <!-- <div class="d-f~lex flex-c~olumn justi~fy-content-between m~s-lg-1 ms~-0 CC-resturant-icons"> -->
            <!-- Heart Icon -->
            <div class="CC-like-icon-holder cCC-bg-support1 uCC-f-radius-sA p-lg-2 p-1 uCC-Click">
                <i class="d-flex {{listState.liked}} w-100 iCC-sD imCC-Background-Contain"></i>
            </div>
            <!-- QrCode Block -->
            <div class="CC-QR-icon-holder cCC-bg-support1 uCC-f-radius-sA p-lg-2 p-1 uCC-Click">
                <i class="iCC-Newqrcode d-flex w-100 imCC-Background-Contain CC-Qr-Holder uCC-Click"></i>
            </div>
        <!-- </div> -->
    </div>
</div>
<!-- <section class="position-relative cCC-bg-white uCC-f-radius-sB pb-2 mt-2">
    <i class="{{listState.image}} d-flex imCC-Background-Cover CC-resturants-Holder uCC-f-radius-sA"></i>
    <div class="d-flex align-items-center~ pt-3 pb-3 uCC-Click px-3">
        <div class="d-flex align-items-center"> -->
<!-- Resturant Logo -->
<!-- <i class="d-flex me-2 imCC-Newlogo-1 CC-logo-Holder imCC-Background-Contain"></i>
            <div class="mx-3"> -->
<!-- Resturant Name -->
<!-- <p class="mb-0 cCC-text-dark mx-2~ fCC-bold-sB">{{listState.title}}</p> -->
<!-- Resturant Description -->
<!-- <div class="d-flex uCC-gap-8 mt-1"> -->
<!-- <p class="mb-0 fCC-reg-sB cCC-text-lightgray cCC-text-support2">{{blockState.description}}</p> -->
<!-- <button class="border-0 fCC-reg-sA cCC-text-dark py-1 px-3 cCC-bg-support1 uCC-f-radius-s5"
                        aria-label="type1">المشويات</button>
                    <button class="border-0 fCC-reg-sA cCC-text-dark py-1 px-3 cCC-bg-support1 uCC-f-radius-s5"
                        aria-label="type2">الشرقي</button>
                </div>
            </div>
        </div> -->
<!-- Icon Like -->
<!-- <div class="cCC-bg-support1 uCC-f-radius-sA p-2 position-absolute" style="top: 16px; left: 16px;">
            <i class="d-flex {{listState.liked}} iCC-sB imCC-Background-Contain"></i>
        </div>
    </div> -->
<!-- Icons -->
<!-- <div class="d-flex justify-content-between mb-3 px-3">
        <app-icon iconName="iCC-Newclock iCC-sD imCC-Background-Contain d-flex mx-2"
            textContent="{{listState.time}} دقيقة" textClass="fCC-reg-sB cCC-text-support2"></app-icon>
        <app-icon iconName="iCC-Newtables iCC-sD imCC-Background-Contain d-flex ms-2"
            textContent="{{listState.tables}} طاولة" textClass="fCC-reg-sB cCC-text-support2"></app-icon>
        <app-icon iconName="iCC-Newstars iCC-sD imCC-Background-Contain d-flex ms-2" textContent="{{listState.rate}}"
            textClass="fCC-reg-sB cCC-text-support2"></app-icon>
    </div>
</section> -->