<!-- Cover Section -->
<section class="container-fluid position-relative w-100 p-0 imCC-Background-Cover imCC-Homecover CC-cover-size d-flex align-items-center justify-content-center">
    <app-cover-section></app-cover-section>
</section>
<!-- About section -->
<section class="container pb-5 mb-5">
    <app-about-section></app-about-section>
</section>
<!-- Menu Qrcode section -->
<section class="container p-0 mb-5">
    <app-menu-qrcode-section></app-menu-qrcode-section>
</section>
<!-- Resturant Cards Section -->
<section class="container my-5">
    <app-resturant-cards-section></app-resturant-cards-section>
</section>
<!-- Feedback section -->
<section class="container py-5">
    <app-feedback-section></app-feedback-section>
</section>
<!-- Mobile app Section -->
<section class="container">
    <div class="uCC-f-radius-sC position-relative! cCC-gradient-LtR mb-5">
        <!-- <div class="position-absolute left-0 right-0 uCC-f-radius-sC w-100 CC-Blur-Layer" style="width: 100px; height: 431px;"></div> -->
        <div class="position-absolute! left-0 right-0 uCC-f-radius-sC w-100 CC-Blur-Layer" style="width: 100px; height: 431px;">
            <app-mobile-app-section></app-mobile-app-section>
        </div>
    </div>
</section>
<!-- Contact us section -->
<section class="container-fluid cCC-gradient-TtB pt-5">
    <app-contact-section></app-contact-section>
</section>
