<section class="container-fluid p-0 imCC-Background-Cover imCC-Homecover CC-cover-size d-flex align-items-center justify-content-center">
    <app-cover-section></app-cover-section>
</section>
<section class="container pb-5 mb-5">
    <app-about-section></app-about-section>
</section>
<section class="container p-0 mb-5">
    <app-menu-qrcode-section></app-menu-qrcode-section>
</section>
<section class="container my-5">
    <app-resturant-cards-section></app-resturant-cards-section>
</section>
<section class="container py-5">
    <app-feedback-section></app-feedback-section>
</section>
<section class="container uCC-f-radius-sC cCC-bg-support1 cCC-gradient-LtR~ mb-5">
    <app-mobile-app-section></app-mobile-app-section>
</section>
<section class="container-fluid cCC-gradient-TtB pt-5">
    <app-contact-section></app-contact-section>
</section>