<div class="mt-5">
    <!-- Information About Resturant -->
    <div class="d-flex justify-content-between w-75">
        <div>
            <p class="fCC-reg-sC cCC-text-dark m-0">{{'معلومات' | translate}}</p>
        </div>
        <div class="col-7">
            <div class="fCC-reg-sC cCC-text-support2 m-0" [innerHTML]="_ResturantCardService.singleResturantInfo?.description"></div>
        </div>
    </div>
    <!-- Horizontal Divider -->
    <div class="CC-horizontal-divider my-3"></div>
    <!--Resturant Mobile Number -->
    <div class="d-flex justify-content-between w-75">
        <div>
            <p class="fCC-reg-sC cCC-text-dark m-0">{{'رقم الهاتف' | translate}}</p>
        </div>
        <div class="col-7">
            <p class="fCC-reg-sC cCC-text-support2 m-0">{{_ResturantCardService.singleResturantInfo?.phone != null?_ResturantCardService.singleResturantInfo?.phone:''}} {{_ResturantCardService.singleResturantInfo?.phone != null?'-':''}}  {{_ResturantCardService.singleResturantInfo != null?_ResturantCardService.singleResturantInfo?.mobile:''}}</p>
        </div>
    </div>
    <!-- Horizontal Divider -->
    <div class="CC-horizontal-divider my-3"></div>
    <!-- Resturant Address -->
    <!-- <div class="d-flex justify-content-between w-75">
        <div>
            <p class="fCC-reg-sC cCC-text-dark m-0">{{'رقم الهاتف' | translate}}</p>
        </div>
        <div class="col-7">
            <p class="fCC-reg-sC cCC-text-support2 m-0">{{_ResturantCardService.singleResturantInfo?.address}}</p>
        </div>
    </div> -->
    <!-- Booking Minimum -->
    <!-- <div class="d-flex justify-content-between w-75">
        <div>
            <p class="fCC-reg-sC cCC-text-dark m-0">الحد الأدني للحجز</p>
        </div>
        <div class="col-7">
            <p class="fCC-reg-sC cCC-text-main m-0">100 ر-س</p>
        </div>
    </div> -->
    <!-- Horizontal Divider -->
    <!-- <div class="CC-horizontal-divider my-3"></div> -->
    <!-- Horizontal Divider -->
    <div class="CC-horizontal-divider my-3"></div>
    <!-- Working Hours -->
    <div class="d-flex justify-content-between w-75">
        <div>
            <p class="fCC-reg-sC cCC-text-dark m-0">{{'أوقات العمل' | translate}}</p>
        </div>
        <div class="col-7">
            <p class="fCC-reg-sC cCC-text-support2 m-0">{{'يعمل من' | translate}} {{_ResturantCardService.singleResturantInfo?.starting_time}} -  {{'حتي' | translate}}  {{_ResturantCardService.singleResturantInfo?.closing_time}} </p>
        </div>
    </div>
    <!-- Horizontal Divider -->
    <div class="CC-horizontal-divider my-3"></div>
    <!-- Recieve Method -->
    <div class="d-flex justify-content-between w-75">
        <div>
            <p class="fCC-reg-sC cCC-text-dark m-0">{{'طرق الإستلام' | translate}}</p>
        </div>
        <div class="col-7 d-flex align-items-center gap-3">
            <app-icon iconName="iCC-Fromresturant iCC-sC imCC-Background-Contain d-flex {{'ms-2' | translate}}"
                textContent="{{'استلام عبر المطعم' | translate}}" textClass="fCC-reg-sC cCC-text-support2">
            </app-icon>
            <div  *ngIf="_ResturantCardService.singleResturantInfo?.available_for_delivery == true">
                <app-icon iconName="iCC-Fromdelivery iCC-sC imCC-Background-Contain d-flex {{'ms-2' | translate}}"
                    textContent="{{'استلام في  المنزل' | translate}}" textClass="fCC-reg-sC cCC-text-support2">
                </app-icon>
            </div>
        </div>
    </div>
    <!-- Horizontal Divider -->
    <div class="CC-horizontal-divider my-3"></div>
    <!-- Payment method -->
    <div class="d-flex justify-content-between w-75">
        <div>
            <p class="fCC-reg-sC cCC-text-dark m-0">{{'طريقة الدفع' | translate}}</p>
        </div>
        <div class="col-7">
            <i class="{{'imCC-Telr' | translate}} iCC-sE imCC-Background-Contain d-flex"></i>
        </div>
    </div>
    <!-- Horizontal Divider -->
    <div class="CC-horizontal-divider my-3"></div>
    <!-- Order preparing time -->
    <div class="d-flex justify-content-between w-75">
        <div>
            <p class="fCC-reg-sC cCC-text-dark m-0">{{'وقت تجهيز الأوردر' | translate}}</p>
        </div>
        <div class="col-7">
            <p class="fCC-reg-sC cCC-text-support2 m-0">{{_ResturantCardService.singleResturantInfo?.avg_delivery_time}} {{'دقيقة' | translate}} </p>
        </div>
    </div>
    <!-- Horizontal Divider -->
    <div class="CC-horizontal-divider my-3"></div>
    <!-- Address Details -->
    <div class="d-flex justify-content-between w-75">
        <div class="col-3~">
            <p class="fCC-reg-sC cCC-text-dark m-0">{{'العنوان' | translate}}</p>
        </div>
        <div class="col-7">
            <p class="fCC-reg-sC cCC-text-support2">{{_ResturantCardService.singleResturantInfo?.address}}</p>
        </div>
        <!-- <div class="col-3">
            <p class="fCC-reg-sC cCC-text-main {{'me-3' | translate}}">30 {{'دقيقة من موقعك الحالي' | translate}}</p>
        </div> -->
    </div>
    <!-- Divider -->
    <div class="my-3"></div>
    <!-- Map -->
    <div class="w-100">
        <google-map #map height="400px" width="100%" [options]="options">
            <map-marker *ngFor="let markerPosition of markers" [position]="markerPosition?.position" [options]="markerOptions">
            </map-marker>
        </google-map>
    </div>
</div>