<div class="mt-5">
    <!-- Information About Resturant -->
    <div class="d-flex justify-content-between w-75">
        <div>
            <p class="fCC-reg-sC cCC-text-dark m-0">معلومات</p>
        </div>
        <div class="col-7">
            <p class="fCC-reg-sC cCC-text-support2 m-0">مطعم السعودي من المطاعم المشهورة في المملكة العربية السعودية
                ويقدم مجموعة متنوعة من المأكولات العربية والخليجية المعروفة مثل
                المندي - الكبسة - مكبوس سعودي باللحم
            </p>
        </div>
    </div>
    <!-- Horizontal Divider -->
    <div class="LT-horizontal-divider my-3"></div>
    <!--Resturant Mobile -->
    <div class="d-flex justify-content-between w-75">
        <div>
            <p class="fCC-reg-sC cCC-text-dark m-0">رقم الهاتف</p>
        </div>
        <div class="col-7">
            <p class="fCC-reg-sC cCC-text-support2 m-0">(964)126667561 - (964)364463544</p>
        </div>
    </div>
    <!-- Horizontal Divider -->
    <div class="LT-horizontal-divider my-3"></div>
    <!-- Booking Minimum -->
    <div class="d-flex justify-content-between w-75">
        <div>
            <p class="fCC-reg-sC cCC-text-dark m-0">الحد الأدني للحجز</p>
        </div>
        <div class="col-7">
            <p class="fCC-reg-sC cCC-text-main m-0">100 ر-س</p>
        </div>
    </div>
    <!-- Horizontal Divider -->
    <div class="LT-horizontal-divider my-3"></div>
    <!-- Paying Ways -->
    <div class="d-flex justify-content-between w-75">
        <div>
            <p class="fCC-reg-sC cCC-text-dark m-0">طرق الدفع</p>
        </div>
        <div class="col-7 d-flex">
            <app-icon iconName="iCC-Pay1 iCC-sD imCC-Background-Contain d-flex"></app-icon>
            <div class="mx-4"></div>
            <app-icon iconName="iCC-Payvisa iCC-sD imCC-Background-Contain d-flex"></app-icon>
            <div class="mx-4"></div>
            <app-icon iconName="iCC-Paycash iCC-sD imCC-Background-Contain d-flex"></app-icon>
        </div>
    </div>
    <!-- Horizontal Divider -->
    <div class="LT-horizontal-divider my-3"></div>
    <!-- Work Hours -->
    <div class="d-flex justify-content-between w-75">
        <div>
            <p class="fCC-reg-sC cCC-text-dark m-0">أوقات العمل</p>
        </div>
        <div class="col-7">
            <p class="fCC-reg-sC cCC-text-support2 m-0">يعمل من 9 ص - حتي 11 م</p>
        </div>
    </div>
    <!-- Horizontal Divider -->
    <div class="LT-horizontal-divider my-3"></div>
    <!-- Work Days -->
    <div class="d-flex justify-content-between w-75">
        <div>
            <p class="fCC-reg-sC cCC-text-dark m-0">أيام العمل</p>
        </div>
        <div class="col-7">
            <p class="fCC-reg-sC cCC-text-support2 m-0">يعمل طوال أيام الأسبوع</p>
        </div>
    </div>
    <!-- Horizontal Divider -->
    <div class="LT-horizontal-divider my-3"></div>
    <!-- General Rate -->
    <div class="d-flex justify-content-between w-75">
        <div>
            <p class="fCC-reg-sC cCC-text-dark m-0">التقييم العام</p>
        </div>
        <div class="col-7">
            <p class="fCC-reg-sC cCC-text-support2 m-0">جيد جدا</p>
        </div>
    </div>
    <!-- Horizontal Divider -->
    <div class="LT-horizontal-divider my-3"></div>
    <!-- Work Days -->
    <div class="d-flex justify-content-between w-75">
        <div>
            <p class="fCC-reg-sC cCC-text-dark m-0">وقت تجهيز الأوردر</p>
        </div>
        <div class="col-7">
            <p class="fCC-reg-sC cCC-text-support2 m-0">40 دقيقة </p>
        </div>
    </div>
    <!-- Horizontal Divider -->
    <div class="LT-horizontal-divider my-3"></div>
    <!-- Address Details -->
    <div class="d-flex justify-content-between w-100">
        <div class="col-3">
            <p class="fCC-reg-sC cCC-text-dark m-0">العنوان</p>
        </div>
        <div class="col-5">
            <p class="fCC-reg-sC cCC-text-support2 me-3">الرياض حي الفيصلية</p>
        </div>
        <div class="col-3">
            <p class="fCC-reg-sC cCC-text-main me-3">30 دقيقة من موقعك الحالي</p>
        </div>
    </div>
    <!-- Divider -->
    <div class="my-3"></div>
    <div class="w-100">
        <!-- Map Iframe -->
        <iframe class="uCC-f-radius-sA" height="235px" width="95%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"
            src="https://maps.google.com/maps?width=100%25&amp;height=600&amp;hl=en&amp;q=1%20Grafton%20Street,%20Dublin,%20Ireland+(My%20Business%20Name)&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"><a
                href="https://www.gps.ie/car-satnav-gps/">
            </a>
        </iframe>
    </div>
</div>