<!-- Resturant Cards Header -->
<div class="text-center mb-4 pt-5">
    <p class="fCC-bold-sF cCC-text-dark m-0 pb-2">طلبك ديماً منتظرك .. مع تطبيق طلباتكم</p>
    <p class="m-0 fCC-reg-sD cCC-text-grey">نص شكلي (بمعنى أن الغاية هي الشكل وليس المحتوى) ويُستخدم في </p>
    <p class="m-0 fCC-reg-sD cCC-text-grey">صناعات المطابع ودور النشر. كان </p>
</div>
<!-- Resturant Cards -->
<div class="uCC-gap-16 mt-2 CC-Holder ">
    <!-- Resturant 1 -->
    <ng-container *ngFor='let resturantCardstate of _ResturantGridCardService.resturantGridCardstates' class="col-4">
        <app-resturant-grid-card-block [blockState]="resturantCardstate"></app-resturant-grid-card-block>
    </ng-container>
</div>