.CC-Holder{
    display: grid;
    grid-template-columns: repeat(4,minmax(226px, auto));
    @media screen and (max-width: 996px) {
        grid-template-columns: repeat(4,minmax(226px, auto));  
    }
}