<div class="cCC-bg-white uCC-f-radius-sA pt-2 pb-3 px-4~">
    <!-- Header -->
    <div class="CC-Header-Holder d-flex justify-content-center">
        <app-icon iconName="iCC-Sheet iCC-sD imCC-Background-Contain d-flex ms-2" textContent="ملخص الدفع"
            textClass="fCC-bold-sB cCC-text-dark">
        </app-icon>
    </div>
    <!-- Dashed Line -->
    <div class="CC-dashed-line my-3"></div>
    <div class="CC-Half-circle cCC-bg-lightblue position-absolute end-0"></div>
    <div class="CC-Half-circle cCC-bg-lightblue position-absolute start-0"></div>
    <div class="d-flex justify-content-between mx-4">
        <!-- Receipt Info -->
        <div class="d-flex flex-column uCC-gap-8 me-2">
            <p class="m-0 fCC-reg-sC cCC-text-dark">إجمالي الطلبات</p>
            <p class="m-0 fCC-reg-sC cCC-text-dark">الضريبة المضافة</p>
            <p class="m-0 fCC-reg-sC cCC-text-dark">رسوم التوصيل</p>
        </div>
        <div class="d-flex flex-column uCC-gap-8 ms-2">
            <p class="m-0 fCC-reg-sC cCC-text-dark">78.00 RS</p>
            <p class="m-0 fCC-reg-sC cCC-text-dark">14.00 RS</p>
            <p class="m-0 fCC-reg-sC cCC-text-dark">10 RS</p>
        </div>
    </div>
    <!-- Total -->
    <div class="CC-horizontal-divider cCC-bg-dark mx-auto my-2"></div>
    <div class="d-flex justify-content-between mx-4">
        <p class="m-0 fCC-bold-sB cCC-text-dark me-2">الأجمالي</p>
        <p class="m-0 fCC-bold-sB cCC-text-dark ms-2">102.00 RS</p>
    </div>
</div>