.CC-resturant-img-holder{
    height: 48px;
    width: 48px;
}
.CC-menu-img-holder{
    height: 48px;
    width: 48px;
}
.CC-Btn1:hover{
    background-color:#f5504c !important;
    color: #fff !important;
}
.CC-Btn1:focus{
    background-color:#f5504c !important;
    color: #fff !important;
}
.CC-Btn1:focus-visible{
    background-color:#f5504c !important;
    color: #fff !important;
}
.CC-Half-circle {
    width:24px;
    height: 24px;
    border-radius: 50%;
    top: 37px;
}
.CC-dashed-line {
    height:1px;
    background:repeating-linear-gradient(to right, rgba(54, 53, 55, 0.2) 0, rgba(54, 53, 55, 0.2) 10px, transparent 10px, transparent 16px)
}