input {
    accent-color: #4ee143;
}
.has-danger{
    border: 1px solid red;
}
.has-success{
    border: 1px solid green;
}
.CC-alert{
    color: red;
}
.CC-Btn{
    transition: 0.2s all;
}
.CC-Btn1:focus{
    background-color: #f5504c !important;
    color:#fff !important;
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24) !important;
    transform: scale(0.98) !important;
}
.CC-Btn1:hover{
    color:#fff !important;
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24) !important;
    transform: scale(0.98) !important;
}
.CC-Btn2:hover{
    color:#f5504c !important;
}
.CC-Btn2:focus{
    color:#f5504c !important;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}