<form>
    <!-- Mobile Number -->
    <div class="mb-4 d-flex shadow py-2 px-3 align-items-center uCC-f-radius-sA cCC-bg-white">
        <!-- Mobile icon -->
        <app-icon iconName="iCC-Mobilelogin d-flex iCC-sB ms-2"></app-icon>
        <!-- Mobile Input-->
        <input type="text" placeholder="رقم الهاتق" class="border-0 fCC-reg-sB cCC-text-support2 m-0">
    </div>

    <!-- Password -->
    <div class="d-flex shadow py-2 px-3 align-items-center uCC-f-radius-sA cCC-bg-white">
        <!-- Password icon -->
        <app-icon iconName="iCC-Lockpassword d-flex iCC-sB ms-2"></app-icon>
        <!-- Password Input-->
        <input type="password" placeholder="كلمة المرور" class="border-0 fCC-reg-sB cCC-text-support2 m-0">
    </div>
</form>
<!-- checkBoxes -->
<div class="d-flex align-items-center mt-4">
    <!-- divider -->
    <label for="remember" class="fCC-reg-sB cCC-text-support2 d-flex gap-2" >
        <input id="remember" type="checkbox" name="" class="iCC-sB cCC-text-support2 uCC-Click" value="value1">
        <span>تذكرني</span>
    </label>
</div>