<!-- links sections -->
<div class="fCC-reg-sD d-flex align-items-center justify-content-start gap-5">
  <!-- Resturants -->
  <a routerLink="resturants" routerLinkActive="cCC-text-main fCC-bold-sB CC-underline"><p class="text-nowrap m-0">{{"عروض المطاعم" | translate}}</p></a>
  <!-- Contact us -->
  <a routerLink="contact-us" routerLinkActive="cCC-text-main fCC-bold-sB CC-underline"> <p class="text-nowrap m-0">{{'اتصل بنا' | translate}}</p></a>
  <!-- Privacy Policy -->
  <a routerLink="privacy-policy" routerLinkActive="cCC-text-main fCC-bold-sB CC-underline"> <p class="text-nowrap m-0">{{'الشروط والأحكام' | translate}}</p></a>
  <!-- about us -->
  <a routerLink="about" routerLinkActive="cCC-text-main fCC-bold-sB CC-underline"> <p class="text-nowrap m-0">{{'من نحن' | translate}}</p></a>
</div>
