<div class="container-fluid d-flex align-items-center justify-content-center p-0">
    <!-- section logo & search -->
    <div class="d-flex bg-primary">
        <!-- logo -->
        <h2>Logo</h2>
        <!-- divider -->
        <div class="px-4"></div>
        <!-- serach icon-->
        <i class="bg-dark rounded-circle p-4"></i>
    </div>
    <!-- vertical divider -->
    <div class="LT-vertical-divider mx-4"></div>
    <!-- links sections -->
    <div class="bg-success">
        <a href="#">عروض المطاعم</a>
        <a href="#" class="mx-4">عروض الكافيهات</a>
        <a href="#">اتصل بنا</a>
    </div>
    <!-- vertical divider -->
    <div class="LT-vertical-divider mx-4"></div>
    <!-- swipperBTn and favouriteBtn-->
    <div class="bg-success">
        <button class="bg-transparent btn">English</button>
        <button class="bg-dark rounded-circle p-4 btn"></button>
    </div>
    <!-- divider -->
    <div class="px-3"></div>
    <!-- userPic and userName -->
    <div class="d-flex align-items-center bg-primary ">
        <!-- user picture -->
        <i class="bg-success rounded-circle p-4"></i>
         <!-- divider -->
         <div class="px-2"></div>
         <!-- user name -->
        <span>اسم المستخدم</span>
    </div>
</div>
