<div class="d-flex justify-content-center align-items-center">
    <div class="col-6">
        <!-- Animation Qr Menu -->
        <ng-lottie width="600px" [options]="options" (animationCreated)="animationCreated($event)"></ng-lottie>
    </div>
    <div class="col-6">
        <p class="fCC-bold-sF m-0">مشاركة المنيو بكل سهولة عن طريق
        </p>
        <p class="cCC-text-main fCC-bold-sF mt-2 mb-4 p-0">QR CODE</p>
        <p class="fCC-reg-sD cCC-text-grey uCC-line-Hight-B m-0">
            هو ببساطة(Lorem Ipsum) وريم إيبسوم
            <br>
            نص شكلي (بمعنى أن الغاية هي الشكل وليس المحتوى) ويُستخدم في
            <br>
            صناعات المطابع ودور النشر. كان لوريم إيبسوم
        </p>
    </div>
</div>
