.CC-horizontal-divider{
  width: 100%;
  height: 1px;
  background-color: #EDEDF4;
}
.CC-Holder{
  gap: 16px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto;
   .CC-card-Holder{
      grid-column: 1/2;
      // grid-row: 1/2;
    }
}
// scrollbar [Block] ==> Start
::-webkit-scrollbar{
    width: 0px;
    height: 1.5px;
}
::-webkit-scrollbar-track{
    background: #9e7434;
    // border-radius: 1px;
    //  border: 7px solid #9e7434;
}
::-webkit-scrollbar-thumb{
    background: #9e7434;
    border: 10px solid #9e7434;
    border-radius: 1px;
}
